Repository kubeflow/arena, pull requests merged in 2018-10, with the labels that each got.

#64 fix serve submit gpuCount
  charts/tfserving/templates/deployment.yaml
  cmd/arena/commands/serve.go
Labels: approved, lgtm, size/XS

#60 init support for estimator mode
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/deployment.yaml
  charts/tfjob/templates/pdb.yaml
  charts/tfjob/templates/service.yaml
  charts/tfjob/templates/tfjob.yaml
  charts/tfjob/values.yaml
  cmd/arena/commands/get.go
  cmd/arena/commands/logs.go
  cmd/arena/commands/submit_mpi.go
  cmd/arena/commands/submit_tfjob.go
  cmd/arena/commands/tensorboard.go
  cmd/arena/commands/trainer_tensorflow.go
  docs/userguide/7-tfjob-estimator-tensorboard.jpg
  docs/userguide/7-tfjob-estimator.md
  kubernetes-artifacts/tf-operator/tf-operator.yaml
Labels: Feature, approved, lgtm, size/XL

#59 Tensorflow Serving document
  docs/userguide/7-tf-serving.md
Labels: approved, lgtm, size/L

#66 add annotations
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/mpijob/values.yaml
  charts/tf-horovod/CHANGELOG.md
  charts/tf-horovod/Chart.yaml
  charts/tf-horovod/templates/job.yaml
  charts/tf-horovod/templates/statefulset.yaml
  charts/tf-horovod/values.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
  charts/tfjob/values.yaml
Labels: approved, lgtm, size/M

#62 add auto allocate port for tf jobs
  cmd/arena/commands/submit_horovod.go
  cmd/arena/commands/submit_tfjob.go
  util/port_allocate.go
  util/port_allocate_test.go
Labels: Feature, approved, lgtm, size/L

#68 Add dockerfile to release arena
  Dockerfile
  Makefile
  run_arena.sh
Labels: addition/feature, approved, lgtm, size/M
