Repository kubeflow/arena, pull requests merged in 2018-12, with the labels that each got.

#80 Fix promethous issue
  README.md
  cmd/arena/commands/completion_bash.go
  docs/userguide/9-top-job-gpu-metric.md
  kubernetes-artifacts/prometheus/gpu-expoter.yaml
  kubernetes-artifacts/prometheus/prometheus.yaml
  run_arena.sh
Labels: approved, kind/bug, lgtm, ok-to-test, size/S

#83 fix hostnetwork can't be enabled issue
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/tf-horovod/CHANGELOG.md
  charts/tf-horovod/Chart.yaml
  charts/tf-horovod/templates/job.yaml
  charts/tf-horovod/templates/statefulset.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
  cmd/arena/commands/submit.go
Labels: approved, kind/bug, lgtm, size/M

#84 Fix grammar issue in chinese version
  README.md
  README_cn.md
  ROADMAP_cn.md
  docs/installation_cn/README.md
  docs/userguide_cn/3-tfjob-distributed.md
  docs/userguide_cn/5-mpijob-distributed.md
  docs/userguide_cn/6-tfjob-gangschd.md
  docs/userguide_cn/7-tf-serving.md
  docs/userguide_cn/8-tfjob-estimator.md
Labels: approved, kind/bug, lgtm, size/M

#85 Check the tfjob status instead of get it
  cmd/arena/commands/trainer_tensorflow.go
Labels: approved, lgtm, ok-to-test, size/M

#86 fix a typo error
  README.md
Labels: approved, lgtm, size/XS

#89 fix arena logs follow params
  cmd/arena/commands/logs.go
Labels: approved, lgtm, ok-to-test, size/S

#90 Customize registry
  run_arena.sh
Labels: addition/feature, approved, lgtm, size/S
