Repository kubeflow/arena, pull requests merged in 2018-09, with the labels that each got.

#50 Enhance data support
  cmd/arena/commands/data_list.go
  docs/userguide/4-tfjob-distributed-data.md
Labels: approved, lgtm, size/S

#52 fix tensorboard affinity issue
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/tensorboard.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/deployment.yaml
Labels: approved, lgtm, problems/bug, size/M

#53 Support tensorboard with hdfs
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/mpijob/templates/tensorboard.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/deployment.yaml
  charts/tfjob/templates/tfjob.yaml
  cmd/arena/commands/submit.go
  cmd/arena/commands/submit_mpi.go
  cmd/arena/commands/submit_tfjob.go
  cmd/arena/commands/tensorboard.go
Labels: addition/feature, approved, improvement/enhancement, lgtm, size/L

#57 Auto completion
  cmd/arena/commands/completion.go
  cmd/arena/commands/completion_bash.go
  cmd/arena/commands/root.go
  docs/installation/README.md
Labels: addition/feature, approved, lgtm, size/M

#56 init Rdma support
  CHANGELOG.md
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/tf-horovod/CHANGELOG.md
  charts/tf-horovod/Chart.yaml
  charts/tf-horovod/templates/job.yaml
  charts/tf-horovod/templates/statefulset.yaml
  charts/tf-horovod/values.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
  charts/tfjob/values.yaml
  cmd/arena/commands/submit.go
Labels: addition/feature, approved, lgtm, size/L

#61 show events only for --events args in get job cmd
  cmd/arena/commands/get.go
Labels: approved, improvement/enhancement, lgtm, size/M
