Repository kubeflow/arena, pull requests merged in 2018-11, with the labels that each got.

#71 Features/aliyun eni
  Dockerfile
  charts/mpijob/templates/mpijob.yaml
  charts/mpijob/values.yaml
  charts/tfjob/templates/tfjob.yaml
  charts/tfjob/values.yaml
  cmd/arena/commands/common.go
  cmd/arena/commands/const.go
  cmd/arena/commands/submit.go
  run_arena.sh
Labels: Feature, approved, lgtm, size/M

#69 fix exclude pod condition when computing used port
  cmd/arena/commands/submit_horovod.go
  util/port_allocate.go
Labels: approved, lgtm, size/M

#72 set default hostnetwork as false
  Dockerfile.install
  Makefile
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/mpijob/values.yaml
  charts/tf-horovod/CHANGELOG.md
  charts/tf-horovod/Chart.yaml
  charts/tf-horovod/templates/job.yaml
  charts/tf-horovod/templates/statefulset.yaml
  charts/tf-horovod/values.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
  charts/tfjob/values.yaml
  charts/training/CHANGELOG.md
  charts/training/Chart.yaml
  charts/training/values.yaml
  docs/installation/README.md
  run_arena.sh
Labels: addition/feature, approved, lgtm, size/M

#73 Features/support load balancer
  cmd/arena/commands/completion_bash.go
  cmd/arena/commands/dashboard_helper.go
  cmd/arena/commands/submit_tfjob.go
  cmd/arena/commands/tensorboard.go
  docs/installation/README.md
  run_arena.sh
Labels: addition/feature, approved, lgtm, size/L

#75 Update documentation link
  README.md
  docs/userguide/5-mpijob-distributed.md
  docs/userguide/8-tfjob-estimator-tensorboard.jpg
  docs/userguide/8-tfjob-estimator.md
Labels: approved, lgtm, size/XS

#78 validate worker count
  charts/mpijob/CHANGELOG.md
  charts/mpijob/templates/mpijob.yaml
  cmd/arena/commands/logs.go
  cmd/arena/commands/submit_tfjob.go
  docs/installation/README.md
  kubernetes-artifacts/mpi-operator/mpi-operator.yaml
Labels: approved, lgtm, size/M

#74 add gpu metric display in top job
  cmd/arena/commands/gpu_info.go
  cmd/arena/commands/gpu_info_test.go
  cmd/arena/commands/list.go
  cmd/arena/commands/top_job.go
  docs/userguide/9-top-job-gpu-metric.md
  kubernetes-artifacts/prometheus/gpu-expoter.yaml
  kubernetes-artifacts/prometheus/prometheus.yaml
  util/base.go
  util/port_allocate_test.go
Labels: approved, lgtm, ok-to-test, size/XL

#79 not_force_check_helm
  run_arena.sh
Labels: approved, kind/bug, lgtm, size/S
