Repository kubeflow/arena, pull requests merged in 2018-08, with the labels that each got.

#1 rename existing mpi to horovod
  cmd/arena/commands/get.go
  cmd/arena/commands/submit.go
  cmd/arena/commands/submit_horovod.go
  cmd/arena/commands/trainer.go
  cmd/arena/commands/trainer_horovod.go
Labels: enhancement

#41 Show event if pod is pending in get command
  cmd/arena/commands/get.go
  cmd/arena/commands/trainer_tensorflow.go
Labels: approved, lgtm, size/M

#44 show tfjob events, when has pods pending
  cmd/arena/commands/get.go
  cmd/arena/commands/list.go
Labels: approved, lgtm, size/S

#45 add file header license
  cmd/arena/commands/common.go
  cmd/arena/commands/completion.go
  cmd/arena/commands/const.go
  cmd/arena/commands/dashboard_helper.go
  cmd/arena/commands/delete.go
  cmd/arena/commands/get.go
  cmd/arena/commands/gpu.go
  cmd/arena/commands/job_info.go
  cmd/arena/commands/list.go
  cmd/arena/commands/logs.go
  cmd/arena/commands/logviewer.go
  cmd/arena/commands/pod_helper.go
  cmd/arena/commands/root.go
  cmd/arena/commands/serve.go
  cmd/arena/commands/serve_tensorflow.go
  cmd/arena/commands/submit.go
  cmd/arena/commands/submit_horovod.go
  cmd/arena/commands/submit_mpi.go
  cmd/arena/commands/submit_standalone.go
  cmd/arena/commands/submit_tfjob.go
  cmd/arena/commands/sync_code.go
  cmd/arena/commands/tensorboard.go
  cmd/arena/commands/top.go
  cmd/arena/commands/top_job.go
  cmd/arena/commands/top_node.go
  cmd/arena/commands/trainer.go
  cmd/arena/commands/trainer_horovod.go
  cmd/arena/commands/trainer_interface.go
  cmd/arena/commands/trainer_mpi.go
  cmd/arena/commands/trainer_standalone.go
  cmd/arena/commands/trainer_tensorflow.go
  cmd/arena/commands/version.go
  cmd/arena/main.go
  cmd/job-monitor/main.go
  hack/docgen.go
  types/submit_flags.go
  util/duration.go
  util/errors.go
  util/helm/helm.go
  util/logs.go
  util/random.go
  util/retry.go
  util/validate.go
  util/volume.go
  version.go
Labels: approved, lgtm, size/XL
