Repository kubeflow/arena, pull requests merged in 2019-04, with the labels that each got.

#138 update gpu exporter
  kubernetes-artifacts/prometheus/gpu-exporter.yaml
Labels: approved, lgtm, ok-to-test, size/S

#143 Feature/refactory serving
  charts/tfserving/templates/deployment.yaml
  charts/tfserving/templates/service.yaml
  charts/trtserving/Chart.yaml
  charts/trtserving/templates/deployment.yaml
  charts/trtserving/templates/service.yaml
  cmd/arena/commands/const.go
  cmd/arena/commands/get_advanced.go
  cmd/arena/commands/serve_delete.go
  cmd/arena/commands/serve_list.go
  cmd/arena/commands/serve_tensorflow.go
  cmd/arena/commands/serve_tensorrt.go
  pkg/types/serving.go
  pkg/util/resource.go
Labels: approved, lgtm, ok-to-test, size/L

#145 fix tensorboard internalIP; remove NotReady Node in top node
  cmd/arena/commands/tensorboard.go
  cmd/arena/commands/top_node.go
Labels: approved, lgtm, size/M

#142 Init 2019 Roadmap
  ROADMAP.md
  ROADMAP_cn.md
Labels: approved, lgtm, size/M

#146 fix typo
  README.md
  charts/tf-horovod/README.md
  charts/tf-horovod/templates/NOTES.txt
  cmd/arena/commands/pod_helper.go
  cmd/arena/commands/submit_tfjob.go
  cmd/arena/commands/trainer_horovod.go
  cmd/arena/commands/trainer_mpi.go
  cmd/arena/commands/trainer_standalone.go
  docs/cli/arena_submit_tfjob.md
  docs/userguide/1-tfjob-standalone.md
Labels: size/M

#147 add circleci
  .circleci/config.yml
  README.md
  README_cn.md
  cmd/arena/commands/const.go
  cmd/arena/commands/serve_delete.go
  cmd/arena/commands/serve_list.go
  cmd/arena/commands/serve_tensorflow.go
  cmd/arena/commands/serve_tensorrt.go
  cmd/arena/commands/tensorboard.go
  cmd/arena/commands/top_node.go
  pkg/types/serving.go
  pkg/util/charts.go
  pkg/util/resource.go
Labels: approved, lgtm, size/L

#148 fix circle ci
  .circleci/config.yml
Labels: ok-to-test, size/XS

#150 Add json and yaml output
  cmd/arena/commands/get.go
  cmd/arena/commands/get_advanced.go
  pkg/types/training.go
Labels: approved, lgtm, size/L

#153 Fix Makefile
  Makefile
Labels: approved, lgtm, ok-to-test, size/S

#155 Fix misleading msg when exceed the max length of the job name
  pkg/util/validate.go
Labels: approved, lgtm, size/S
