Repository kubeflow/arena, pull requests merged in 2019-08, with the labels that each got.

#218 feature: add chart version
  cmd/arena/commands/version.go
  pkg/util/charts.go
  version.go
Labels: approved, lgtm, ok-to-test, size/M

#230 Feature: add option "--all-namespaces" for "arena serve list"
  cmd/arena/commands/serve_list.go
Labels: approved, lgtm, ok-to-test, size/M

#234 Serve custom sample
  docs/userguide/10-submit-with-node-selector.md
  docs/userguide/10-submit-with-node-toleration.md
  docs/userguide/15-custom-serving-sample-beijing.jpg
  docs/userguide/15-custom-serving-sample-beijing_out.jpg
  docs/userguide/15-custom-serving-sample.md
  docs/userguide_cn/15-custom-serving-sample-beijing.jpg
  docs/userguide_cn/15-custom-serving-sample-beijing_out.jpg
  docs/userguide_cn/15-custom-serving-sample.md
  samples/docker/serve-custom-sample/Dockerfile
Labels: addition/feature, approved, lgtm, ok-to-test, size/L

#233 change behavior of default port in command "arena serve custom".
  charts/custom-serving/templates/deployment.yaml
  charts/custom-serving/templates/service.yaml
  cmd/arena/commands/serve.go
  cmd/arena/commands/serve_custom.go
Labels: approved, lgtm, ok-to-test, size/M

#236 update tfoperator image versioning in kubernetes artifacts
  kubernetes-artifacts/tf-operator/Dockerfile
  kubernetes-artifacts/tf-operator/tf-operator-v1alpha2.yaml
  kubernetes-artifacts/tf-operator/tf-operator.yaml
  run_arena.sh
Labels: approved, lgtm, size/XS

#235 add the missing quotation marks
  docs/userguide_cn/15-custom-serving-sample.md
Labels: approved, lgtm, needs-ok-to-test, size/XS

#237 Feature: implement arena serve get
  cmd/arena/commands/serve.go
  cmd/arena/commands/serve_get.go
  cmd/arena/commands/serve_list.go
  pkg/printer/serving_printer.go
  pkg/types/serving.go
  pkg/types/serving_type.go
Labels: approved, lgtm, needs-ok-to-test, size/XL

#239 fix typo of rest_api_port
  charts/tfserving/templates/deployment.yaml
Labels: size/XS

#225 Update information in arena serving.
  cmd/arena/commands/serve.go
  docs/cli/arena_serve.md
  docs/cli/arena_serve_tensorflow.md
  docs/cli/arena_serve_tensorrt.md
Labels: approved, lgtm, ok-to-test, size/XS

#240 Fix Bug: assign default version name when version is null
  charts/tfserving/templates/service.yaml
  cmd/arena/commands/serve_tensorflow.go
  cmd/arena/commands/serve_tensorrt.go
  pkg/types/serving.go
  pkg/types/serving_type.go
Labels: approved, lgtm, ok-to-test, size/S

#242 bugfix: fix submit spark job error.
  cmd/arena/commands/submit_spark.go
Labels: approved, lgtm, ok-to-test, size/XS

#245 fix volcano job
  charts/volcanojob/templates/batch_v1alpha1_job.yaml
  charts/volcanojob/values.yaml
  cmd/arena/commands/submit_volcano.go
  docs/userguide/12-volcanojob.md
  kubernetes-artifacts/volcano-operator/README.md
  kubernetes-artifacts/volcano-operator/config/volcano-scheduler.conf
  kubernetes-artifacts/volcano-operator/values.yaml
Labels: approved, lgtm, ok-to-test, size/S

#249 update arena parameters used in the doc
  docs/userguide/3-tfjob-distributed.md
  docs/userguide/5-mpijob-distributed.md
  docs/userguide/7-tf-serving.md
Labels: approved, lgtm, ok-to-test, size/L

#248 build arena tarball
  CHANGELOG.md
  Dockerfile.build
  Makefile
  README.md
  docs/installation/INSTALL_FROM_BINARY.md
  docs/installation/INSTALL_FROM_SOURCE.md
  install.sh
Labels: approved, lgtm, ok-to-test, size/L

#251 fix typo: apiversion v1 -> v1beta1
  docs/userguide/13-preempted-mpijob.md
  docs/userguide_cn/13-preempted-mpijob.md
Labels: approved, lgtm, needs-ok-to-test, size/XS

#252 feature: implement bash completion for "arena serve get"
  cmd/arena/commands/completion_bash.go
  cmd/arena/commands/serve_get.go
Labels: approved, lgtm, needs-ok-to-test, size/M

#253 typo of volcano job
  docs/userguide/12-volcanojob.md
Labels: approved, lgtm, ok-to-test, size/S

#226 Feature: Add GPU memory information in arena top node.
  cmd/arena/commands/const.go
  cmd/arena/commands/top_node.go
  pkg/types/nodeinfo_share.go
  pkg/types/top_node_gpushare.go
Labels: approved, lgtm, ok-to-test, size/XL

#250 Add User_guide of tf-serving-gpushare
  docs/userguide/7-tf-serving-gpu.md
  docs/userguide/7-tf-serving-gpushare.md
Labels: approved, lgtm, ok-to-test, size/L

#238 namespace correction
  docs/userguide/9-top-job-gpu-metric.md
Labels: approved, lgtm, ok-to-test, size/XS
