Repository kubeflow/arena, pull requests merged in 2019-05, with the labels that each got.

#157 Fix compile warning
  cmd/arena/commands/top_job.go
Labels: approved, lgtm, needs-ok-to-test, size/XS

#160 Support ingress access for arena
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/ingress.yaml
  charts/mpijob/values.yaml
  charts/tf-horovod/CHANGELOG.md
  charts/tf-horovod/Chart.yaml
  charts/tf-horovod/templates/ingress.yaml
  charts/tf-horovod/values.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/ingress.yaml
  charts/tfjob/values.yaml
  docs/installation/README.md
  docs/installation_cn/README.md
Labels: approved, lgtm, size/L

#162 update the link of readme
  .travis.yml
  README.md
  cmd/arena/commands/submit_spark.go
  cmd/arena/commands/submit_spark_test.go
  cmd/arena/commands/trainer.go
  cmd/arena/commands/trainer_spark.go
  pkg/spark-operator/apis/sparkoperator.k8s.io/v1beta1/types.go
  pkg/util/port_allocate_test.go
Labels: approved, kind/bug, lgtm, size/M

#167 Faq tf
  FAQ.md
  README.md
Labels: approved, lgtm, needs-ok-to-test, size/S

#172 Support resource limit for the launcher of mpijob
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/mpijob/templates/tensorboard.yaml
  charts/mpijob/values.yaml
  kubernetes-artifacts/mpi-operator/mpi-operator.yaml
Labels: approved, lgtm, size/M

#174 add resource requests/limits to tensorboard and initContainer
  charts/mpijob/templates/mpijob.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/deployment.yaml
  charts/tfjob/templates/tfjob.yaml
  charts/tfjob/values.yaml
Labels: approved, lgtm, size/M

#171 Add a common questions section
  FAQ.md
Labels: approved, lgtm, ok-to-test, size/XS

#176 update mpi-operator images
  kubernetes-artifacts/mpi-operator/mpi-operator.yaml
Labels: approved, lgtm, size/XS
