Repository kubeflow/arena, pull requests merged in 2019-12, with the labels that each got.

#281 horovod and standalone gets the only the jobs they created
  cmd/arena/commands/trainer_horovod.go
  cmd/arena/commands/trainer_standalone.go
Labels: approved, lgtm, needs-ok-to-test, size/XS

#282 Fix circleci build
  .circleci/config.yml
Labels: size/XS

#279 update apiversion
  charts/custom-serving/templates/deployment.yaml
  charts/mpijob/templates/tensorboard.yaml
  charts/tfjob/templates/deployment.yaml
  charts/tfserving/templates/deployment.yaml
  charts/training/templates/deployment.yaml
  charts/trtserving/templates/deployment.yaml
  docs/userguide/7-tf-serving-gpu.md
  docs/userguide/7-tf-serving-gpushare.md
  docs/userguide/7-tf-serving.md
  docs/userguide_cn/7-tf-serving.md
  kubernetes-artifacts/dashboard/dashboard-1.7.2.yaml
  kubernetes-artifacts/dashboard/dashboard.yaml
  kubernetes-artifacts/prometheus/grafana.yaml
  kubernetes-artifacts/prometheus/prometheus.yaml
  kubernetes-artifacts/rdma/device-plugin.yaml
  kubernetes-artifacts/tf-operator/tf-operator-v1alpha2.yaml
  kubernetes-artifacts/tf-operator/tf-operator.yaml
Labels: approved, lgtm, needs-ok-to-test, size/M

#283 Just get the gpu count from the active pod, to #24179283
  cmd/arena/commands/gpu.go
Labels: approved, lgtm, size/XS

#284 fix the issue caused by api version upgrade
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/tensorboard.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/deployment.yaml
Labels: approved, lgtm, size/S
