Repository kubeflow/arena, pull requests merged in 2019-02, with the labels that each got.

#118 fix get gpu metric error & typo error of 'gpu exporter'
  cmd/arena/commands/gpu_info.go
  docs/userguide/9-top-job-gpu-metric.md
  kubernetes-artifacts/prometheus/gpu-exporter.yaml
Labels: approved, lgtm, ok-to-test, size/S

#119 fix typo in run_arena.sh
  run_arena.sh
Labels: approved, lgtm, size/XS

#120 Features/release v0.2.0/overall status
  cmd/arena/commands/delete.go
  cmd/arena/commands/get.go
  cmd/arena/commands/job_info.go
  cmd/arena/commands/pod_helper.go
  cmd/arena/commands/prune.go
  cmd/arena/commands/root.go
  cmd/arena/commands/trainer_horovod.go
  cmd/arena/commands/trainer_interface.go
  cmd/arena/commands/trainer_mpi.go
  cmd/arena/commands/trainer_standalone.go
  cmd/arena/commands/trainer_tensorflow.go
Labels: approved, lgtm, size/L

#122 fix incorrect command.
  docs/userguide/10-rdma-integration.md
Labels: approved, lgtm, needs-ok-to-test, size/XS

#123 Features/release v0.2.0/add notebook
  Dockerfile.notebook.cpu
  Dockerfile.notebook.kubeflow
  Makefile
  jupyter/README.md
  jupyter/arena-jupyter.yaml
  run_jupyter.sh
Labels: addition/feature, approved, lgtm, size/L

#124 add tensorRT inference server support
  charts/trtserving/.helmignore
  charts/trtserving/Chart.yaml
  charts/trtserving/templates/_helpers.tpl
  charts/trtserving/templates/deployment.yaml
  charts/trtserving/templates/service.yaml
  charts/trtserving/values.yaml
  cmd/arena/commands/serve.go
  cmd/arena/commands/serve_list.go
  cmd/arena/commands/serve_tensorflow.go
  cmd/arena/commands/serve_tensorrt.go
Labels: approved, lgtm, ok-to-test, size/L

#126 Fix bugs in document during testing
  docs/userguide/2-tfjob-tensorboard.md
  docs/userguide_cn/2-tfjob-tensorboard.md
Labels: approved, lgtm, size/XS

#127 update jupyter notebook dockerfile support mount root path
  Dockerfile.notebook.cpu
  jupyter/jupyter_notebook_config.py
  jupyter/run_jupyter.sh
  run_jupyter.sh
Labels: approved, lgtm, ok-to-test, size/M

#128 Fix bugs in docs
  Dockerfile.notebook.cpu
  docs/userguide/3-tfjob-distributed.md
  docs/userguide/4-tfjob-distributed-data.md
  docs/userguide/6-tfjob-gangschd.md
  docs/userguide_cn/3-tfjob-distributed.md
  docs/userguide_cn/4-tfjob-distributed-data.md
  docs/userguide_cn/6-tfjob-gangschd.md
  jupyter/run_jupyter.sh
Labels: approved, lgtm, size/S
