Repository kubeflow/arena, pull requests merged in 2019-07, with the labels that each got.

#191 spark job and volcano job document entries
  README.md
Labels: approved, lgtm, ok-to-test, size/XS

#190 Add Priorities and preemption for MPIJob
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/mpijob/templates/tensorboard.yaml
  charts/mpijob/values.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/deployment.yaml
  charts/tfjob/templates/tfjob.yaml
  charts/tfjob/values.yaml
  cmd/arena/commands/submit.go
  docs/userguide/13-preempted-mpijob.md
  pkg/util/validate.go
Labels: approved, lgtm, size/L

#194 Easily address the GOAPTH in local devlopment enviroment.
  README.md
Labels: approved, lgtm, ok-to-test, size/XS

#195 Easily address the GOAPTH in local for other README versions
  README_cn.md
  docs/installation/README.md
  docs/installation_cn/README.md
  jupyter/README.md
Labels: approved, lgtm, ok-to-test, size/S

#200 Enhance node info for cluster management
  cmd/arena/commands/top_node.go
Labels: approved, lgtm, size/M

#201 fix wrong link of README
  README.md
Labels: approved, lgtm, needs-ok-to-test, size/XS

#207 Upgrade to tfjob v1
  cmd/arena/commands/trainer_tensorflow.go
  kubernetes-artifacts/tf-operator/tf-crd.yaml
  kubernetes-artifacts/tf-operator/tf-operator-v1apha2.yaml
  kubernetes-artifacts/tf-operator/tf-operator.yaml
  run_arena.sh
Labels: approved, lgtm, size/L

#210 add enableRDMA in MPIJob chart values.yaml
  charts/mpijob/values.yaml
Labels: approved, lgtm, ok-to-test, size/XS

#209 support priority class for arena
  CHANGELOG.md
  VERSION
  cmd/arena/commands/get.go
  cmd/arena/commands/get_advanced.go
  cmd/arena/commands/trainer_horovod.go
  cmd/arena/commands/trainer_interface.go
  cmd/arena/commands/trainer_mpi.go
  cmd/arena/commands/trainer_spark.go
  cmd/arena/commands/trainer_standalone.go
  cmd/arena/commands/trainer_tensorflow.go
  cmd/arena/commands/trainer_volcano.go
  docs/installation/README.md
  docs/installation_cn/README.md
  docs/userguide/13-preempted-mpijob.md
  docs/userguide_cn/13-preempted-mpijob.md
  pkg/types/training.go
  pkg/util/validate.go
Labels: approved, lgtm, ok-to-test, size/L

#211 Add GPUMemory in arena-serving situation
  charts/tfserving/templates/deployment.yaml
  charts/trtserving/templates/deployment.yaml
  cmd/arena/commands/serve.go
  cmd/arena/commands/serve_tensorflow.go
  cmd/arena/commands/serve_tensorrt.go
Labels: approved, lgtm, ok-to-test, size/M

#205 Fix unfriendly travis output errors
  .circleci/config.yml
  .travis.yml
  docs/userguide/5-mpijob-distributed.md
Labels: approved, lgtm, ok-to-test, size/XS

#203 add mpijob statefulset and job events
  cmd/arena/commands/get.go
  cmd/arena/commands/job_info.go
  cmd/arena/commands/resource.go
  cmd/arena/commands/trainer_horovod.go
  cmd/arena/commands/trainer_interface.go
  cmd/arena/commands/trainer_mpi.go
  cmd/arena/commands/trainer_spark.go
  cmd/arena/commands/trainer_standalone.go
  cmd/arena/commands/trainer_tensorflow.go
  cmd/arena/commands/trainer_volcano.go
Labels: approved, lgtm, ok-to-test, size/L

#214 update installation README.md
  docs/installation/README.md
  docs/installation_cn/README.md
Labels: approved, lgtm, needs-ok-to-test, size/XS

#221 Report unhealthy GPU info
  CHANGELOG.md
  cmd/arena/commands/gpu.go
  cmd/arena/commands/top_node.go
Labels: approved, lgtm, size/L
