Repository kubeflow/arena, pull requests merged in 2019-06, with the labels that each got.

#177 Add PodSecurityContext including runAsUser, runAsGroup, runAsNonRoot, supplementalGroups
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/deployment.yaml
  charts/tfjob/templates/tfjob.yaml
  charts/tfjob/values.yaml
  cmd/arena/commands/submit.go
Labels: Feature, approved, lgtm, size/L

#179 add PodSecurityContext for mpijob
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/mpijob/templates/tensorboard.yaml
  charts/mpijob/values.yaml
  charts/tfjob/templates/deployment.yaml
  charts/tfjob/templates/tfjob.yaml
  cmd/arena/commands/submit.go
Labels: approved, lgtm, size/M

#183 fix #181 tfserving doc with right curl cmd
  docs/userguide/7-tf-serving.md
  docs/userguide_cn/7-tf-serving.md
Labels: approved, lgtm, size/M

#178 Basic struct for arena cli update to support volcano
  charts/volcanojob/Chart.yaml
  charts/volcanojob/templates/_helpers.tpl
  charts/volcanojob/templates/batch_v1alpha1_job.yaml
  charts/volcanojob/values.yaml
  cmd/arena/commands/const.go
  cmd/arena/commands/submit.go
  cmd/arena/commands/submit_volcano.go
  cmd/arena/commands/trainer.go
  cmd/arena/commands/trainer_volcano.go
  pkg/volcano-operator/apis/batch/v1alpha1/doc.go
  pkg/volcano-operator/apis/batch/v1alpha1/job.go
  pkg/volcano-operator/apis/batch/v1alpha1/labels.go
  pkg/volcano-operator/apis/batch/v1alpha1/register.go
  pkg/volcano-operator/apis/batch/v1alpha1/zz_generated.deepcopy.go
  pkg/volcano-operator/client/clientset/versioned/clientset.go
  pkg/volcano-operator/client/clientset/versioned/doc.go
  pkg/volcano-operator/client/clientset/versioned/scheme/doc.go
  pkg/volcano-operator/client/clientset/versioned/scheme/register.go
  pkg/volcano-operator/client/clientset/versioned/typed/batch/v1alpha1/batch_client.go
  pkg/volcano-operator/client/clientset/versioned/typed/batch/v1alpha1/doc.go
  pkg/volcano-operator/client/clientset/versioned/typed/batch/v1alpha1/fake/doc.go
  pkg/volcano-operator/client/clientset/versioned/typed/batch/v1alpha1/fake/fake_batch_client.go
  pkg/volcano-operator/client/clientset/versioned/typed/batch/v1alpha1/fake/fake_job.go
  pkg/volcano-operator/client/clientset/versioned/typed/batch/v1alpha1/generated_expansion.go
  pkg/volcano-operator/client/clientset/versioned/typed/batch/v1alpha1/job.go
Labels: approved, lgtm, ok-to-test, size/XXL

#180 volcano deployment in kubernetes using helm and charts
  kubernetes-artifacts/volcano-operator/.helmignore
  kubernetes-artifacts/volcano-operator/Chart.yaml
  kubernetes-artifacts/volcano-operator/README.md
  kubernetes-artifacts/volcano-operator/config/kube-batch.conf
  kubernetes-artifacts/volcano-operator/templates/NOTES.txt
  kubernetes-artifacts/volcano-operator/templates/_helpers.tpl
  kubernetes-artifacts/volcano-operator/templates/admission.yaml
  kubernetes-artifacts/volcano-operator/templates/controller.yaml
  kubernetes-artifacts/volcano-operator/templates/crd/batch_v1alpha1_job.yaml
  kubernetes-artifacts/volcano-operator/templates/crd/bus_v1alpha1_command.yaml
  kubernetes-artifacts/volcano-operator/templates/crd/scheduling_v1alpha1_podgroup.yaml
  kubernetes-artifacts/volcano-operator/templates/crd/scheduling_v1alpha1_queue.yaml
  kubernetes-artifacts/volcano-operator/templates/default-queue.yaml
  kubernetes-artifacts/volcano-operator/templates/scheduler.yaml
  kubernetes-artifacts/volcano-operator/templates/webhook/admission-config.yaml
  kubernetes-artifacts/volcano-operator/values.yaml
Labels: approved, lgtm, ok-to-test, size/XL

#185 Fix the SIGSEGV on get spark job
  cmd/arena/commands/trainer_spark.go
Labels: approved, lgtm, ok-to-test, size/XS

#187 changed to support dynamically creating multiple tasks of volcano job
  charts/volcanojob/templates/batch_v1alpha1_job.yaml
  charts/volcanojob/values.yaml
  cmd/arena/commands/submit_volcano.go
  cmd/arena/commands/trainer_volcano.go
Labels: approved, lgtm, ok-to-test, size/L

#186 Simple fixes
  cmd/arena/commands/delete.go
  cmd/arena/commands/get.go
Labels: approved, lgtm, ok-to-test, size/XS

#188 Added user guide for volcano jobs
  docs/userguide/12-volcanojob.md
Labels: approved, lgtm, ok-to-test, size/L
