Repository kubeflow/arena, pull requests merged in 2019-11, with the labels that each got.

#273 fix: add change log to charts
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
Labels: approved, lgtm, needs-ok-to-test, size/S

#274 Custom serving loadbalancer
  cmd/arena/commands/serve_list.go
  pkg/jobs/serving/serving.go
  pkg/printer/serving/base.go
Labels: approved, lgtm, ok-to-test, size/S

#275 Add labels and selectors
  charts/custom-serving/CHANGELOG.md
  charts/custom-serving/Chart.yaml
  charts/custom-serving/templates/deployment.yaml
  charts/custom-serving/values.yaml
  cmd/arena/commands/serve.go
  cmd/arena/commands/serve_custom.go
Labels: approved, lgtm, size/M

#277 volcano trainer isSupported for the specific job
  cmd/arena/commands/trainer_volcano.go
Labels: approved, lgtm, needs-ok-to-test, size/XS
