Repository kubeflow/arena, pull requests merged in 2019-01, with the labels that each got.

#96 optimize arena logs for show failed chief pod log
  cmd/arena/commands/trainer_mpi.go
  cmd/arena/commands/trainer_tensorflow.go
Labels: approved, kind/bug, lgtm, ok-to-test, size/L

#87 Docs
  docs/userguide/10-rdma-integration.md
  docs/userguide/9-top-job-gpu-metric.md
  kubernetes-artifacts/prometheus/gpu-expoter.yaml
  kubernetes-artifacts/rdma/device-plugin.yaml
  kubernetes-artifacts/rdma/rdma-config.yaml
  run_arena.sh
Labels: addition/feature, approved, area/docs, lgtm, ok-to-test, size/L

#92 fix panic when using logviewer mpijob
  cmd/arena/commands/trainer_mpi.go
Labels: approved, kind/bug, lgtm, size/XS

#99 support $HOME/charts as the helm charts path
  cmd/arena/commands/serve_tensorflow.go
  cmd/arena/commands/submit.go
  cmd/arena/commands/submit_mpi.go
  cmd/arena/commands/submit_tfjob.go
  util/charts.go
Labels: approved, lgtm, ok-to-test, size/M

#105 Put arena in notebook
  Dockerfile.notebook
  Makefile
Labels: approved, lgtm, size/M

#106 Fix for top job metric and list
  cmd/arena/commands/gpu_info.go
  cmd/arena/commands/top_job.go
  cmd/arena/commands/trainer_mpi.go
  cmd/arena/commands/trainer_tensorflow.go
Labels: approved, lgtm, ok-to-test, size/S

#107 Fix several minimal bugs
  charts/tfjob/CHANGELOG.md
  cmd/arena/commands/trainer_tensorflow.go
  docs/userguide/9-top-job-gpu-metric.md
  run_arena.sh
Labels: approved, lgtm, size/XS

#109 Features/release v0.2.0/submit job
  VERSION
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/mpijob/templates/service.yaml
  charts/mpijob/templates/tensorboard.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/deployment.yaml
  charts/tfjob/templates/pdb.yaml
  charts/tfjob/templates/service.yaml
  charts/tfjob/templates/tfjob.yaml
  cmd/arena/commands/common.go
  cmd/arena/commands/data_list.go
  cmd/arena/commands/delete.go
  cmd/arena/commands/get.go
  cmd/arena/commands/gpu_info_test.go
  cmd/arena/commands/list.go
  cmd/arena/commands/logs.go
  cmd/arena/commands/logviewer.go
  cmd/arena/commands/prune.go
  cmd/arena/commands/serve.go
  cmd/arena/commands/serve_delete.go
  cmd/arena/commands/serve_list.go
  cmd/arena/commands/serve_tensorflow.go
  cmd/arena/commands/submit.go
  cmd/arena/commands/submit_horovod.go
  cmd/arena/commands/submit_mpi.go
  cmd/arena/commands/submit_standalone.go
  cmd/arena/commands/submit_tfjob.go
  cmd/arena/commands/tensorboard.go
  cmd/arena/commands/top_job.go
  cmd/arena/commands/traffic_router_split.go
  cmd/job-monitor/main.go
  pkg/types/submit_flags.go
  pkg/util/base.go
  pkg/util/charts.go
  pkg/util/duration.go
  pkg/util/errors.go
  pkg/util/helm/helm.go
  pkg/util/helm/helm_advanced.go
  pkg/util/kubectl/kubectl.go
  pkg/util/logs.go
  pkg/util/port_allocate.go
  pkg/util/port_allocate_test.go
  pkg/util/random.go
  pkg/util/retry.go
  pkg/util/validate.go
  pkg/util/volume.go
  pkg/workflow/submit.go
Labels: Feature, approved, lgtm, size/XL

#111 Features/release v0.2.0/delete training job
  cmd/arena/commands/const.go
  cmd/arena/commands/delete.go
  cmd/arena/commands/get.go
  cmd/arena/commands/submit.go
  cmd/arena/commands/submit_horovod.go
  cmd/arena/commands/submit_standalone.go
  cmd/arena/commands/trainer_horovod.go
  pkg/util/helm/helm.go
  pkg/util/kubectl/kubectl.go
  pkg/workflow/submit.go
  pkg/workflow/workflow.go
Labels: approved, lgtm, size/XL

#113 Features/release v0.2.0/get/logs/logviewer job
  cmd/arena/commands/dashboard_helper.go
  cmd/arena/commands/delete.go
  cmd/arena/commands/get.go
  cmd/arena/commands/logs.go
  cmd/arena/commands/logviewer.go
  cmd/arena/commands/trainer_horovod.go
  cmd/arena/commands/trainer_mpi.go
  cmd/arena/commands/trainer_standalone.go
  cmd/arena/commands/trainer_tensorflow.go
  pkg/util/helm/helm_advanced.go
  pkg/util/kubectl/kubectl.go
  pkg/workflow/workflow.go
Labels: approved, lgtm, size/L

#115 Support listing training job
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/tensorboard.yaml
  charts/mpijob/values.yaml
  cmd/arena/commands/data_list.go
  cmd/arena/commands/delete.go
  cmd/arena/commands/get.go
  cmd/arena/commands/get_advanced.go
  cmd/arena/commands/list.go
  cmd/arena/commands/logs.go
  cmd/arena/commands/logviewer.go
  cmd/arena/commands/pod_helper.go
  cmd/arena/commands/top_job.go
  cmd/arena/commands/trainer_horovod.go
  cmd/arena/commands/trainer_interface.go
  cmd/arena/commands/trainer_mpi.go
  cmd/arena/commands/trainer_standalone.go
  cmd/arena/commands/trainer_tensorflow.go
  pkg/types/submit_flags.go
  pkg/util/helm/helm_advanced.go
  pkg/util/kubectl/configmap.go
  pkg/util/kubectl/kubectl.go
  pkg/workflow/workflow.go
Labels: addition/feature, approved, lgtm, size/XL

#116 Features/release v0.2.0/top training job
  cmd/arena/commands/delete.go
  cmd/arena/commands/gpu_info.go
  cmd/arena/commands/gpu_info_test.go
  cmd/arena/commands/prune.go
  cmd/arena/commands/top_job.go
Labels: addition/feature, approved, lgtm, size/L
