Repository kubeflow/arena, pull requests merged in 2019-09, with the labels that each got.

#255 fix issue in downloading data from website without stable network
  docs/userguide/1-tfjob-standalone.md
  docs/userguide_cn/1-tfjob-standalone.md
  install.sh
Labels: approved, lgtm, size/XS

#258 change the arena logs behavior
  cmd/arena/commands/logs.go
Labels: approved, lgtm, ok-to-test, size/XS

#256 delete duplicate documents
  docs/userguide_cn/10-submit-with-node-selector.md
  docs/userguide_cn/10-submit-with-node-toleration.md
  docs/userguide_cn/14-submit-with-node-selector.md
Labels: approved, lgtm, ok-to-test, size/L
