Repository kubeflow/arena, pull requests merged in 2019-03, with the labels that each got.

#130 fix details display of node ip address
  cmd/arena/commands/top_node.go
Labels: approved, lgtm, size/XS

#129 add instance type for logging
  cmd/arena/commands/logs.go
Labels: approved, lgtm, size/XS

#131 add grafana when install arena using docker
  kubernetes-artifacts/prometheus/grafana.yaml
  run_arena.sh
Labels: approved, lgtm, size/M

#132 Fix indent in script
  run_arena.sh
Labels: approved, lgtm, size/M

#137 fix tf serving command
  charts/tfserving/templates/deployment.yaml
Labels: approved, lgtm, size/XS

#133 Support mac os and windows
  Makefile
  cmd/arena/commands/submit_mpi.go
  cmd/arena/commands/submit_tfjob.go
  cmd/arena/commands/tensorboard.go
Labels: approved, lgtm, size/S

#140 Fix typo: tensorboad -> tensorboard
  cmd/arena/commands/submit_mpi.go
  cmd/arena/commands/submit_tfjob.go
  cmd/arena/commands/tensorboard.go
Labels: approved, lgtm, ok-to-test, size/XS

#139 Deprecated options
  cmd/arena/commands/root.go
  cmd/arena/commands/submit.go
  cmd/arena/commands/submit_mpi.go
  cmd/arena/commands/submit_tfjob.go
  cmd/arena/commands/sync_code.go
Labels: approved, lgtm, size/M

#141 use ~/.arena/config to set namespace
  Gopkg.lock
  Makefile
  cmd/arena/commands/common.go
  cmd/arena/commands/config.go
  pkg/util/config/loader.go
  vendor/github.com/mitchellh/go-homedir/LICENSE
  vendor/github.com/mitchellh/go-homedir/README.md
  vendor/github.com/mitchellh/go-homedir/go.mod
  vendor/github.com/mitchellh/go-homedir/homedir.go
Labels: approved, lgtm, size/L

#144 Cosmetic changes in info/error messages
  cmd/arena/commands/submit_horovod.go
Labels: approved, lgtm, ok-to-test, size/XS
