Repository kubeflow/arena, pull requests merged in 2020-07, with the labels that each got.

#332 Support GangScheduling Native in MPIJob
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/mpijob/values.yaml
  cmd/arena/commands/submit.go
  cmd/arena/commands/submit_mpi.go
Labels: approved, lgtm, needs-ok-to-test, size/S

#334 add support running cleanPolicy for pytorchjob #29175794
  cmd/arena/commands/submit_pytorchjob.go
  kubernetes-artifacts/pytorch-operator/pytorch-operator.yaml
Labels: approved, lgtm, needs-ok-to-test, size/S

#337 Add change log
  CHANGELOG.md
Labels: approved, lgtm, size/S

#338 Update the version
  VERSION
Labels: size/XS

#339 add gpu memory unit for arena top node -s/-s -d #28523962
  docs/userguide/7-tf-serving-gpushare.md
  pkg/types/top_node_gpushare.go
Labels: approved, lgtm, needs-ok-to-test, size/M

#343 update FAQ about pytorch
  FAQ.md
Labels: approved, lgtm, needs-ok-to-test, size/XS

#345 add a common submit param for imagePullSecrets #29122384
  cmd/arena/commands/submit.go
Labels: approved, lgtm, needs-ok-to-test, size/S

#344 add support imagePullSecrets for tf #29122384
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/deployment.yaml
  charts/tfjob/templates/tfjob.yaml
Labels: approved, lgtm, needs-ok-to-test, size/M

#346 add support imagePullSecrets for mpi #29122384
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/mpijob/templates/tensorboard.yaml
Labels: approved, lgtm, needs-ok-to-test, size/S

#347 add userguide about imagePullSecrets #29122384
  docs/userguide/26-submitjob-with-private-registry.md
Labels: approved, lgtm, needs-ok-to-test, size/L

#348 load imagePullSecrets from arenaConfigs #29122384
  cmd/arena/commands/submit.go
  cmd/arena/commands/submit_mpi.go
  cmd/arena/commands/submit_pytorchjob.go
  cmd/arena/commands/submit_tfjob.go
Labels: approved, lgtm, needs-ok-to-test, size/M

#349 add general function to process common params #29467442
  cmd/arena/commands/submit.go
  cmd/arena/commands/submit_mpi.go
  cmd/arena/commands/submit_pytorchjob.go
  cmd/arena/commands/submit_tfjob.go
Labels: approved, lgtm, needs-ok-to-test, size/M

#351 hotfix ci error about struct field tag
  cmd/arena/commands/submit.go
Labels: approved, lgtm, needs-ok-to-test, size/XS

#354 bugfix: fix typo of imagepullsecrets
  charts/mpijob/templates/mpijob.yaml
  charts/mpijob/templates/tensorboard.yaml
  charts/pytorchjob/templates/pytorchjob.yaml
  charts/pytorchjob/templates/tensorboard.yaml
  charts/tfjob/templates/deployment.yaml
  charts/tfjob/templates/tfjob.yaml
Labels: approved, lgtm, needs-ok-to-test, size/M
