Repository kubeflow/arena, pull requests merged in 2020-01, with the labels that each got.

#286 fi bug: update api to apps/v1
  kubernetes-artifacts/rdma/device-plugin.yaml
Labels: approved, lgtm, needs-ok-to-test, size/XS

#285 Featues/support assigning configuration files when submitting jobs
  README.md
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/configmap.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/configmap.yaml
  charts/tfjob/templates/tfjob.yaml
  cmd/arena/commands/submit.go
  cmd/arena/commands/submit_mpi.go
  cmd/arena/commands/submit_tfjob.go
  docs/userguide/16-assign-config-file.md
  docs/userguide_cn/16-assign-config-file.md
  install.sh
  pkg/util/base.go
  pkg/util/helm/helm.go
  pkg/util/helm/helm_advanced.go
  pkg/workflow/workflow.go
Labels: approved, lgtm, needs-ok-to-test, size/XL

#287 Fix annotations issue
  VERSION
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
Labels: approved, lgtm, size/S

#288 Upgrade helm to 2.14.1， fix chart issue
  Dockerfile.build
  Dockerfile.install
  Dockerfile.notebook.cpu
  Dockerfile.notebook.kubeflow
  Makefile
Labels: size/S

#290 Support Helm 2.14.1
  docs/installation/INSTALL_FROM_BINARY.md
  docs/installation/INSTALL_FROM_SOURCE.md
  docs/installation_cn/README.md
Labels: size/S

#292 fix evaluator & chief validation, fix #24671874
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
Labels: approved, lgtm, size/XS
