Repository kubeflow/arena, pull requests merged in 2020-05, with the labels that each got.

#312 rename kubectl to arena-kubectl
  install.sh
  pkg/util/kubectl/kubectl.go
Labels: approved, lgtm, needs-ok-to-test, size/M

#307 make deprecation tag for standalonejob in doc
  docs/cli/arena_submit_standalonejob.md
Labels: approved, lgtm, needs-ok-to-test, size/XS

#313 support adding gpu resource to ps role pods for submitting tf job
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
  cmd/arena/commands/submit_tfjob.go
Labels: approved, lgtm, needs-ok-to-test, size/S

#314 fix prometheus deployment, to #27376088
  kubernetes-artifacts/prometheus/grafana.yaml
Labels: size/XS

#315 update to v0.4.0, to #27278129
  VERSION
Labels: size/XS
