Repository kubeflow/arena, pull requests merged in 2020-11, with the labels that each got.

#372 Update v0.6.0
  VERSION
Labels: approved, size/XS

#370 Support GangScheduling Native in PytorchJob
  CHANGELOG.md
  charts/pytorchjob/Chart.yaml
  charts/pytorchjob/templates/pytorchjob.yaml
  charts/pytorchjob/values.yaml
  cmd/arena/commands/submit_pytorchjob.go
Labels: approved, lgtm, ok-to-test, size/S

#366 fix arena submit distribute training command
  docs/userguide/3-tfjob-distributed.md
Labels: approved, lgtm, ok-to-test, size/XS

#374 add some functions to support arena-go-sdk
  cmd/arena/commands/common_api.go
  cmd/arena/commands/delete_api.go
  cmd/arena/commands/get_api.go
  cmd/arena/commands/list_api.go
  cmd/arena/commands/logs_api.go
  cmd/arena/commands/submit.go
  cmd/arena/commands/submit_mpi.go
  cmd/arena/commands/submit_tfjob.go
  pkg/printer/base/logs/podlogs.go
Labels: approved, lgtm, ok-to-test, size/L

#375 add default value for protocol in trainingJob CR
  kubernetes-artifacts/et-operator/et-operator.yaml
Labels: approved, lgtm, ok-to-test, size/XS

#379 fix bug: to fix commit(1290baf51b094c2a039cb5c6b39303c9957a5e2d) error
  charts/pytorchjob/CHANGELOG.md
  charts/pytorchjob/Chart.yaml
  charts/pytorchjob/templates/pytorchjob.yaml
Labels: approved, lgtm, ok-to-test, size/S

#378 fix bug: pytorchjob don't support arena-go-sdk
  cmd/arena/commands/submit_pytorchjob.go
Labels: approved, lgtm, ok-to-test, size/S

#382 refact tfjob
  cmd/arena/commands/delete.go
  cmd/arena/commands/get.go
  cmd/arena/commands/list.go
  cmd/arena/commands/logs.go
  cmd/arena/commands/logviewer.go
  cmd/arena/commands/submit.go
  pkg/apis/arenaclient/arenaclient.go
  pkg/apis/arenaclient/training_client.go
  pkg/apis/config/arenaconfig.go
  pkg/apis/config/kubeclient.go
  pkg/apis/logger/logger.go
  pkg/apis/training/job.go
  pkg/apis/training/tfjob_builder.go
  pkg/apis/types/loglevel.go
  pkg/apis/types/submit.go
  pkg/apis/types/submit_tfjob.go
  pkg/apis/types/training.go
  pkg/apis/types/types.go
  pkg/apis/utils/utils.go
  pkg/arenacache/cache.go
  pkg/argsbuilder/builder.go
  pkg/argsbuilder/const.go
  pkg/argsbuilder/logger.go
  pkg/argsbuilder/runtime/runtime.go
  pkg/argsbuilder/runtime/tfjob_runtime.go
  pkg/argsbuilder/submit.go
  pkg/argsbuilder/sync_code.go
  pkg/argsbuilder/tensorboard.go
  pkg/argsbuilder/tfjob_submit.go
  pkg/argsbuilder/util.go
  pkg/cmd/README.md
  pkg/commands/training/delete.go
  pkg/commands/training/get.go
  pkg/commands/training/list.go
  pkg/commands/training/logs.go
  pkg/commands/training/logviewer.go
  pkg/commands/training/submit_tfjob.go
  pkg/podlogs/logger.go
  pkg/podlogs/utils.go
  pkg/training/const.go
  pkg/training/dashboard_helper.go
  pkg/training/delete.go
  pkg/training/get.go
  pkg/training/get_advanced.go
  pkg/training/gpu.go
  pkg/training/list.go
  pkg/training/logs.go
  pkg/training/pod_helper.go
  pkg/training/resource.go
  pkg/training/submit_tfjob.go
  pkg/training/tensorboard.go
  pkg/training/trainer.go
  pkg/training/trainer_interface.go
  pkg/training/trainer_tensorflow.go
  pkg/util/config/loader.go
  samples/sdk/tfjob/tfjob.go
Labels: approved, lgtm, ok-to-test, size/XXL

#383 refact pytorchjob
  cmd/arena/commands/get.go
  cmd/arena/commands/root.go
  cmd/arena/commands/submit.go
  pkg/apis/arenaclient/training_client.go
  pkg/apis/training/common.go
  pkg/apis/training/pytorchjob_builder.go
  pkg/apis/training/tfjob_builder.go
  pkg/apis/types/submit_pytorchjob.go
  pkg/apis/types/training.go
  pkg/apis/utils/utils.go
  pkg/arenacache/cache.go
  pkg/argsbuilder/pytorchjob_submit.go
  pkg/commands/training/submit_pytorchjob.go
  pkg/training/get_advanced.go
  pkg/training/submit_pytorchjob.go
  pkg/training/trainer.go
  pkg/training/trainer_pytorch.go
  pkg/training/trainer_tensorflow.go
  samples/sdk/pytorchjob/pytorch.go
Labels: approved, lgtm, ok-to-test, size/XXL
