Repository kubeflow/arena, pull requests merged in 2020-02, with the labels that each got.

#294 fix incorrect cpu resource variable, should be psCPU
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
  charts/tfjob/values.yaml
Labels: approved, lgtm, needs-ok-to-test, size/S

#295 fix bug: set exit code as 2 when delete job failed
  cmd/arena/commands/delete.go
  cmd/arena/commands/serve_delete.go
Labels: approved, lgtm, needs-ok-to-test, size/S

#296 fix: change debugf to errorf when print error message
  cmd/arena/commands/serve_delete.go
Labels: approved, lgtm, needs-ok-to-test, size/XS

#299 Features/training plugin framework
  cmd/arena/commands/submit_tfjob.go
  cmd/arena/commands/training_plugin_interface.go
  docs/dev/dev_tf_plugin.md
Labels: approved, lgtm, size/L

#297 change arena submit flag in 3-tfjob-distributed.md docs file.
  docs/userguide_cn/1-tfjob-standalone.md
  docs/userguide_cn/14-submit-with-node-selector.md
  docs/userguide_cn/16-assign-config-file.md
  docs/userguide_cn/2-tfjob-tensorboard.md
  docs/userguide_cn/3-tfjob-distributed.md
  docs/userguide_cn/4-tfjob-distributed-data.md
  docs/userguide_cn/5-mpijob-distributed.md
  docs/userguide_cn/6-tfjob-gangschd.md
  docs/userguide_cn/8-tfjob-estimator.md
Labels: approved, lgtm, needs-ok-to-test, size/M

#301 fix incorrect ps annotations
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
Labels: approved, lgtm, needs-ok-to-test, size/S
