Repository kubeflow/arena, pull requests merged in 2020-03, with the labels that each got.

#302 fix the deployment spec of tf-operator v1alpha2
  kubernetes-artifacts/tf-operator/tf-crd-v1alpha2.yaml
  kubernetes-artifacts/tf-operator/tf-operator-v1alpha2.yaml
Labels: size/M

#303 Non root installer
  VERSION
  install.sh
Labels: size/S

#304 fix install.sh for mac
  install.sh
Labels: size/S

#305 fix sudo issue, fix #25762506
  install.sh
Labels: size/S

#309 Change deprecated flag --syncMode and --syncSource
  docs/userguide/1-tfjob-standalone.md
Labels: approved, lgtm, needs-ok-to-test, size/XS
