Repository kubeflow/arena, pull requests merged in 2021-06, with the labels that each got.

#559 support nvidia triton server
  charts/triton/.helmignore
  charts/triton/Chart.yaml
  charts/triton/templates/_helpers.tpl
  charts/triton/templates/deployment.yaml
  charts/triton/templates/service.yaml
  charts/triton/values.yaml
  docs/serving/index.md
  docs/serving/triton/serving.md
  pkg/apis/arenaclient/serving_client.go
  pkg/apis/serving/triton_builder.go
  pkg/apis/types/serving.go
  pkg/argsbuilder/serving_triton.go
  pkg/commands/serving/serving.go
  pkg/commands/serving/serving_triton.go
  pkg/serving/serving.go
  pkg/serving/serving_triton.go
Labels: approved, lgtm, size/XL

#568 add cron rbac
  charts/user/CHANGELOG.md
  charts/user/Chart.yaml
  charts/user/templates/roles.yaml
Labels: approved, lgtm, size/S

#569 Fix cmd typo in installation/binary.md
  docs/installation/binary.md
Labels: approved, lgtm, size/XS

#571 add uninstall script
  Dockerfile.build
  Makefile
  cmd/uninstall/uninstall.go
  docs/installation/index.md
  docs/installation/uninstall.md
  install.sh
  kubernetes-artifacts/jobmon/jobmon-role.yaml
  version.go
Labels: approved, lgtm, size/L

#573 update arena version to 0.8.5
  VERSION
  docs/installation/uninstall.md
Labels: approved, lgtm, size/S

#576 add "FAQ: Failed To Install Arena on Mac" to install doc
  docs/installation/complete.md
Labels: approved, lgtm, size/XS

#577 add release notes for v0.8.5
  docs/releases/v0.8.5.md
  mkdocs.yml
Labels: size/S

#584 Fix tf serving typo
  VERSION
  pkg/argsbuilder/serving_tensorflow.go
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/serving/TensorflowServingJobBuilder.java
  sdk/arena-python-sdk/arenasdk/serving/tensorflow_job_builder.py
Labels: approved, size/XS

#585 change display format for tfserving
  pkg/argsbuilder/traffic_router_builder.go
  pkg/serving/list.go
  pkg/serving/traffic_router_split.go
Labels: approved, size/L

#586 fix bug: go vet error
  pkg/serving/traffic_router_split.go
Labels: approved, lgtm, size/XS

#588 Fix istio support for tf serving
  Dockerfile.build
  Dockerfile.install
  Dockerfile.notebook.cpu
  Dockerfile.notebook.kubeflow
  Makefile
  charts/tfserving/Chart.yaml
  charts/tfserving/templates/istiorouting.yaml
  pkg/serving/serving_tensorflow.go
Labels: approved, size/S

#589 Fix istio issue
  charts/tfserving/templates/deployment.yaml
  charts/tfserving/templates/istiorouting.yaml
  pkg/serving/traffic_router_split.go
Labels: approved, size/XS

#590 fix bug: tfserving display error
  pkg/serving/list.go
Labels: approved, lgtm, size/M

#595 fix bug: install.sh not work on mac when --host-network is enabled
  install.sh
Labels: approved, lgtm, size/M

#596 display gpus for serving job
  pkg/apis/types/serving.go
  pkg/k8saccesser/k8s_accesser.go
  pkg/serving/get.go
  pkg/serving/list.go
  pkg/serving/serving.go
  pkg/serving/serving_interface.go
  pkg/serving/serving_seldon.go
Labels: approved, lgtm, size/L

#598 fix bug: display gpu error for serving job
  pkg/serving/get.go
  pkg/serving/list.go
  pkg/serving/serving.go
Labels: approved, lgtm, size/S
