Repository kubeflow/arena, pull requests merged in 2021-09, with the labels that each got.

#656 triton support custom command
  charts/tfserving/CHANGELOG.md
  charts/tfserving/Chart.yaml
  charts/tfserving/templates/deployment.yaml
  charts/triton/CHANGELOG.md
  charts/triton/Chart.yaml
  charts/triton/templates/deployment.yaml
Labels: lgtm, approved, size/M

#661 feature/tensorflow serving support monitoring
  charts/custom-serving/CHANGELOG.md
  charts/custom-serving/Chart.yaml
  charts/custom-serving/templates/deployment.yaml
  charts/custom-serving/templates/service.yaml
  charts/custom-serving/values.yaml
  charts/tfserving/CHANGELOG.md
  charts/tfserving/Chart.yaml
  charts/tfserving/templates/deployment.yaml
  charts/tfserving/templates/service.yaml
  charts/triton/templates/deployment.yaml
  charts/triton/templates/service.yaml
  pkg/apis/cron/cron_tfjob_builder.go
  pkg/apis/serving/custom_builder.go
  pkg/apis/serving/tensorflow_builder.go
  pkg/apis/types/serving.go
  pkg/argsbuilder/serving_custom.go
  pkg/argsbuilder/serving_tensorflow.go
  pkg/argsbuilder/serving_triton.go
Labels: lgtm, approved, size/L

#676 update go mod and gitignore
  .gitignore
  go.mod
  go.sum
Labels: lgtm, approved, size/XS

#659 add evaluate job
  charts/custom-serving/templates/service.yaml
  charts/evaluatejob/.helmignore
  charts/evaluatejob/CHANGELOG.md
  charts/evaluatejob/Chart.yaml
  charts/evaluatejob/templates/_helpers.tpl
  charts/evaluatejob/templates/job.yaml
  charts/evaluatejob/values.yaml
  go.mod
  go.sum
  pkg/apis/arenaclient/arenaclient.go
  pkg/apis/arenaclient/evaluate_client.go
  pkg/apis/evaluate/evaluatejob.go
  pkg/apis/evaluate/evaluatejob_builder.go
  pkg/apis/types/evaluatejob.go
  pkg/argsbuilder/evaluatejob.go
  pkg/argsbuilder/serving.go
  pkg/commands/evaluate/delete.go
  pkg/commands/evaluate/evaluate.go
  pkg/commands/evaluate/evaluate_model.go
  pkg/commands/evaluate/get.go
  pkg/commands/evaluate/list.go
  pkg/commands/root.go
  pkg/evaluate/delete.go
  pkg/evaluate/get.go
  pkg/evaluate/list.go
  pkg/evaluate/submit.go
  pkg/evaluate/util.go
  pkg/k8saccesser/k8s_accesser.go
  vendor/github.com/google/uuid/.travis.yml
  vendor/github.com/google/uuid/CONTRIBUTING.md
  vendor/github.com/google/uuid/CONTRIBUTORS
  vendor/github.com/google/uuid/LICENSE
  vendor/github.com/google/uuid/README.md
  vendor/github.com/google/uuid/dce.go
  vendor/github.com/google/uuid/doc.go
  vendor/github.com/google/uuid/go.mod
  vendor/github.com/google/uuid/hash.go
  vendor/github.com/google/uuid/marshal.go
  vendor/github.com/google/uuid/node.go
  vendor/github.com/google/uuid/node_js.go
  vendor/github.com/google/uuid/node_net.go
  vendor/github.com/google/uuid/null.go
  vendor/github.com/google/uuid/sql.go
  vendor/github.com/google/uuid/time.go
  vendor/github.com/google/uuid/util.go
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/google/uuid/version1.go
  vendor/github.com/google/uuid/version4.go
  vendor/modules.txt
Labels: lgtm, approved, size/XXL

#679 fix bug: disable nvidia ENV for none gpu request job
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
  pkg/argsbuilder/serving.go
  pkg/argsbuilder/submit.go
  pkg/argsbuilder/submit_sparkjob.go
  pkg/argsbuilder/submit_tfjob.go
  pkg/argsbuilder/submit_volcanojob.go
  pkg/argsbuilder/traffic_router_builder.go
Labels: approved, size/M

#680 specify shell type by user with --shell in training job
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/pytorchjob/CHANGELOG.md
  charts/pytorchjob/Chart.yaml
  charts/pytorchjob/templates/pytorchjob.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
  charts/training/CHANGELOG.md
  charts/training/Chart.yaml
  charts/training/templates/job.yaml
  pkg/apis/types/submit.go
  pkg/argsbuilder/submit.go
Labels: lgtm, approved, size/M

#683 fix bug: don't install cronjob crd when kubedl is existed
  charts/pytorchjob/CHANGELOG.md
  charts/pytorchjob/Chart.yaml
  charts/pytorchjob/templates/pytorchjob.yaml
  install.sh
  pkg/argsbuilder/submit_volcanojob.go
Labels: lgtm, approved, size/L
