Repository kubeflow/arena, pull requests merged in 2021-05, with the labels that each got.

#550 fix bug: error in arena top node
  pkg/apis/types/gpu_metric.go
  pkg/prometheus/prom.go
  pkg/prometheus/query.go
Labels: approved, lgtm, size/M

#551 fix arena get tfjob instances missing created by cron
  pkg/apis/utils/training.go
  pkg/training/trainer_tensorflow.go
Labels: approved, lgtm, size/S

#552 change the calculation of gpushare allocated gpus
  VERSION
  pkg/apis/types/gpunode.go
  pkg/topnode/define.go
  pkg/topnode/gpuexclusive.go
  pkg/topnode/gpushare.go
  pkg/topnode/gputopology.go
  pkg/topnode/normal.go
  pkg/topnode/summary.go
Labels: approved, lgtm, size/L

#554 support get and list cron from cache
  kubernetes-artifacts/kubedl/kubedl-operator.yaml
  pkg/apis/cron/cron_tfjob_builder.go
  pkg/apis/training/common.go
  pkg/apis/training/etjob_builder.go
  pkg/apis/training/horovod_builder.go
  pkg/apis/training/mpijob_builder.go
  pkg/apis/training/pytorchjob_builder.go
  pkg/apis/training/tfjob_builder.go
  pkg/argsbuilder/cron_tfjob.go
  pkg/commands/cron/get.go
  pkg/commands/cron/resume.go
  pkg/commands/cron/suspend.go
  pkg/commands/training/submit_tfjob.go
  pkg/cron/cron_handler.go
  pkg/cron/delete.go
  pkg/cron/get.go
  pkg/cron/list.go
  pkg/cron/suspend.go
  pkg/cron/util.go
  pkg/k8saccesser/k8s_accesser.go
  pkg/operators/kubedl-operator/apis/addtoscheme_apps_v1alpha1.go
  pkg/operators/kubedl-operator/apis/apis.go
  pkg/operators/kubedl-operator/apis/apps/v1alpha1/common.go
  pkg/operators/kubedl-operator/apis/apps/v1alpha1/cron_types.go
  pkg/operators/kubedl-operator/apis/apps/v1alpha1/groupversion_info.go
  pkg/operators/kubedl-operator/apis/apps/v1alpha1/zz_generated.deepcopy.go
  pkg/operators/kubedl-operator/apis/apps/v1alpha1/zz_generated.defaults.go
  pkg/operators/kubedl-operator/client/clientset/versioned/clientset.go
  pkg/operators/kubedl-operator/client/clientset/versioned/doc.go
  pkg/operators/kubedl-operator/client/clientset/versioned/fake/clientset_generated.go
  pkg/operators/kubedl-operator/client/clientset/versioned/fake/doc.go
  pkg/operators/kubedl-operator/client/clientset/versioned/fake/register.go
  pkg/operators/kubedl-operator/client/clientset/versioned/scheme/doc.go
  pkg/operators/kubedl-operator/client/clientset/versioned/scheme/register.go
  pkg/operators/kubedl-operator/client/clientset/versioned/typed/apps/v1alpha1/apps_client.go
  pkg/operators/kubedl-operator/client/clientset/versioned/typed/apps/v1alpha1/cron.go
  pkg/operators/kubedl-operator/client/clientset/versioned/typed/apps/v1alpha1/doc.go
  pkg/operators/kubedl-operator/client/clientset/versioned/typed/apps/v1alpha1/fake/doc.go
  pkg/operators/kubedl-operator/client/clientset/versioned/typed/apps/v1alpha1/fake/fake_apps_client.go
  pkg/operators/kubedl-operator/client/clientset/versioned/typed/apps/v1alpha1/fake/fake_cron.go
  pkg/operators/kubedl-operator/client/clientset/versioned/typed/apps/v1alpha1/generated_expansion.go
  pkg/operators/kubedl-operator/client/informers/externalversions/apps/interface.go
  pkg/operators/kubedl-operator/client/informers/externalversions/apps/v1alpha1/cron.go
  pkg/operators/kubedl-operator/client/informers/externalversions/apps/v1alpha1/interface.go
  pkg/operators/kubedl-operator/client/informers/externalversions/factory.go
  pkg/operators/kubedl-operator/client/informers/externalversions/generic.go
  pkg/operators/kubedl-operator/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/operators/kubedl-operator/client/listers/apps/v1alpha1/cron.go
  pkg/operators/kubedl-operator/client/listers/apps/v1alpha1/expansion_generated.go
  samples/sdk/tfjob/tfjob.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/scheme/scheme.go
Labels: approved, lgtm, size/XXL

#557 update version to 0.8.4
  VERSION
Labels: approved, lgtm, size/XS

#561 fix bug: cannot display total gpu memory
  pkg/prometheus/prom.go
Labels: approved, lgtm, size/XS
