Repository kubeflow/arena, pull requests merged in 2021-02, with the labels that each got.

#450 Add HUYA info in adopters page
  docs/ADOPTERS.md
Labels: approved, lgtm, size/XS

#451 support specifying role sequence of tfjob
  docs/userguide/30-tfjob-with-role-sequence.md
  kubernetes-artifacts/tf-operator/tf-operator.yaml
  pkg/apis/training/tfjob_builder.go
  pkg/argsbuilder/submit_tfjob.go
Labels: approved, lgtm, ok-to-test, size/L

#452 support lower letters of tfjob roles
  kubernetes-artifacts/tf-operator/tf-operator.yaml
  pkg/argsbuilder/submit_tfjob.go
Labels: approved, lgtm, size/S

#453 add microsoft as user
  docs/ADOPTERS.md
Labels: approved, lgtm, size/XS

#455 Feature/update et operator crd
  kubernetes-artifacts/et-operator/et-operator.yaml
  pkg/training/submit_etjob.go
  pkg/workflow/workflow.go
Labels: approved, lgtm, size/XXL

#457 support creationTimestamp in arena get command
  pkg/apis/types/serving.go
  pkg/apis/types/training.go
  pkg/serving/serving.go
  pkg/training/get.go
  pkg/training/get_advanced.go
Labels: approved, lgtm, ok-to-test, size/M

#458 Add cpu and memory command flag for pytorchjob
  pkg/argsbuilder/submit_pytorchjob.go
Labels: approved, lgtm, size/XS

#459 add script to generate arena user
  Dockerfile.build
  arena-gen-kubeconfig.sh
  charts/user/.helmignore
  charts/user/CHANGELOG.md
  charts/user/Chart.yaml
  charts/user/templates/_helpers.tpl
  charts/user/templates/clusterrolebindings.yaml
  charts/user/templates/clusterroles.yaml
  charts/user/templates/quota.yaml
  charts/user/templates/rolebindings.yaml
  charts/user/templates/roles.yaml
  charts/user/templates/serviceaccount.yaml
  charts/user/values.yaml
  docs/userguide/31-support-multiple-users.md
  install.sh
Labels: approved, lgtm, ok-to-test, size/XL

#462 Add Unisound in Adopters
  docs/ADOPTERS.md
Labels: size/XS

#463 optimize code to reduce execution time
  arena-gen-kubeconfig.sh
  charts/user/templates/clusterroles.yaml
  charts/user/templates/roles.yaml
  docs/userguide/31-support-multiple-users.md
  go.mod
  go.sum
  pkg/apis/arenaclient/arenaclient.go
  pkg/apis/arenaclient/node_client.go
  pkg/apis/arenaclient/training_client.go
  pkg/apis/config/arenaconfig.go
  pkg/arenacache/cache_client.go
  pkg/commands/top/job.go
  pkg/commands/top/node.go
  pkg/commands/training/get.go
  pkg/commands/training/list.go
  pkg/k8saccesser/const.go
  pkg/k8saccesser/k8s_accesser.go
  pkg/prometheus/query.go
  pkg/serving/serving.go
  pkg/serving/serving_interface.go
  pkg/topnode/define.go
  pkg/topnode/details.go
  pkg/topnode/gpuexclusive.go
  pkg/topnode/gpushare.go
  pkg/topnode/gputopology.go
  pkg/topnode/summary.go
  pkg/training/dashboard_helper.go
  pkg/training/get.go
  pkg/training/get_advanced.go
  pkg/training/list.go
  pkg/training/tensorboard.go
  pkg/training/top_job.go
  pkg/training/trainer.go
  pkg/training/trainer_et.go
  pkg/training/trainer_horovod.go
  pkg/training/trainer_mpi.go
  pkg/training/trainer_pytorch.go
  pkg/training/trainer_spark.go
  pkg/training/trainer_tensorflow.go
  pkg/training/trainer_volcano.go
  vendor/modules.txt
Labels: approved, lgtm, ok-to-test, size/XXL

#475 add cpu and mem apis for pytorchjob
  pkg/apis/training/pytorchjob_builder.go
Labels: approved, lgtm, size/S

#476 complete the doc of tfjob with role sequence
  docs/userguide/30-tfjob-with-role-sequence.md
Labels: approved, lgtm, size/M

#479 Update ADOPTERS.md
  docs/ADOPTERS.md
Labels: approved, lgtm, size/XS

#484 fix et-operator image version
  kubernetes-artifacts/et-operator/et-operator.yaml
Labels: approved, lgtm, size/XS
