Repository kubeflow/arena, pull requests merged in 2021-08, with the labels that each got.

#628 fix bug: allocated gpus is 0 when using arena top node
  pkg/apis/utils/pods.go
  pkg/podlogs/logger.go
  pkg/training/logs.go
Labels: approved, lgtm, size/M

#635 release v0.8.7
  Dockerfile.build
  VERSION
  docs/releases/v0.8.7.md
  mkdocs.yml
Labels: lgtm, approved, size/S

#636 Update helm download repo
  Dockerfile.install
  Dockerfile.notebook.cpu
  Dockerfile.notebook.kubeflow
Labels: approved, size/XS

#637 support launcher mounts pvcs
  charts/cron-tfjob/CHANGELOG.md
  charts/custom-serving/CHANGELOG.md
  charts/custom-serving/Chart.yaml
  charts/etjob/Chart.yaml
  charts/kfserving/Chart.yaml
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/mpijob/values.yaml
  charts/pytorchjob/Chart.yaml
  charts/seldon-core/Chart.yaml
  charts/sparkjob/Chart.yaml
  charts/tfjob/Chart.yaml
  charts/triton/Chart.yaml
  charts/volcanojob/Chart.yaml
  pkg/apis/training/mpijob_builder.go
  pkg/apis/types/submit_mpijob.go
  pkg/argsbuilder/submit_mpijob.go
Labels: lgtm, approved, size/M
