Repository kubeflow/arena, pull requests merged in 2021-04, with the labels that each got.

#526 Fix CVE-2020-8570
  sdk/arena-java-sdk/pom.xml
Labels: approved, size/XS

#522 Fix broken link
  README_cn.md
Labels: approved, lgtm, size/XS

#530 remove initializers args in spark-operator.yaml
  kubernetes-artifacts/spark-operator/spark-operator.yaml
Labels: approved, lgtm, size/XS

#535 mpi job support gpu topology scheduling
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/mpijob/values.yaml
  docs/sdk/go/training/mpijob.md
  pkg/apis/training/mpijob_builder.go
  pkg/apis/types/submit_mpijob.go
  pkg/argsbuilder/submit_mpijob.go
Labels: approved, lgtm, size/M

#497 Add NJU PASA Lab in ADOPTERS.md
  docs/about/ADOPTERS.md
Labels: approved, lgtm, size/XS

#527 chore: Fix broken link
  README_cn.md
Labels: approved, lgtm, size/S

#540 add gpu topology doc
  docs/training/index.md
  docs/training/mpijob/gputopology.md
  docs/training/mpijob/tensorflow-performance-comparison.png
Labels: approved, lgtm, size/L

#538 update gpu exporter yaml, support both docker and containerd runtime
  kubernetes-artifacts/prometheus/gpu-exporter.yaml
Labels: approved, lgtm, size/S

#541 Update to 0.8.1
  VERSION
Labels: approved, size/XS

#542 refact install.sh
  install.sh
Labels: approved, lgtm, size/L

#543 add --rdma to install.sh
  install.sh
Labels: approved, lgtm, size/S

#546 support cron job
  charts/cron-tfjob/CHANGELOG.md
  charts/cron-tfjob/Chart.yaml
  charts/cron-tfjob/templates/_helpers.tpl
  charts/cron-tfjob/templates/_tfjob.yaml
  charts/cron-tfjob/templates/cron.yaml
  charts/cron-tfjob/values.yaml
  go.mod
  go.sum
  install.sh
  kubernetes-artifacts/kubedl/kubedl-crd.yaml
  kubernetes-artifacts/kubedl/kubedl-operator.yaml
  pkg/apis/arenaclient/arenaclient.go
  pkg/apis/arenaclient/cron_client.go
  pkg/apis/cron/cron_tfjob_builder.go
  pkg/apis/cron/job.go
  pkg/apis/training/tfjob_builder.go
  pkg/apis/types/cron.go
  pkg/apis/types/submit_mpijob.go
  pkg/argsbuilder/cron_tfjob.go
  pkg/argsbuilder/runtime/cron_tfjob_runtime.go
  pkg/argsbuilder/submit.go
  pkg/argsbuilder/submit_mpijob.go
  pkg/commands/cron/cron.go
  pkg/commands/cron/cron_tfjob.go
  pkg/commands/cron/delete.go
  pkg/commands/cron/get.go
  pkg/commands/cron/list.go
  pkg/commands/cron/resume.go
  pkg/commands/cron/suspend.go
  pkg/commands/root.go
  pkg/cron/cron_tfjob.go
  pkg/cron/delete.go
  pkg/cron/get.go
  pkg/cron/list.go
  pkg/cron/suspend.go
  pkg/cron/util.go
  pkg/training/get_advanced.go
  vendor/github.com/tidwall/gjson/LICENSE
  vendor/github.com/tidwall/gjson/README.md
  vendor/github.com/tidwall/gjson/SYNTAX.md
  vendor/github.com/tidwall/gjson/gjson.go
  vendor/github.com/tidwall/gjson/go.mod
  vendor/github.com/tidwall/gjson/go.sum
  vendor/github.com/tidwall/gjson/logo.png
  vendor/github.com/tidwall/match/LICENSE
  vendor/github.com/tidwall/match/README.md
  vendor/github.com/tidwall/match/go.mod
  vendor/github.com/tidwall/match/match.go
  vendor/github.com/tidwall/pretty/LICENSE
  vendor/github.com/tidwall/pretty/README.md
  vendor/github.com/tidwall/pretty/pretty.go
  vendor/modules.txt
Labels: approved, lgtm, size/XXL

#548 Update v0.8.2
  VERSION
Labels: approved
