Repository kubeflow/arena, pull requests merged in 2021-11, with the labels that each got.

#697 read admin users from arena-configmap
  install.sh
  kubernetes-artifacts/arena-configmap/configmap.yaml
  pkg/apis/config/arenaconfig.go
  pkg/commands/root.go
  pkg/commands/whoami.go
  pkg/training/trainer.go
Labels: lgtm, approved, size/L

#706 Support gang scheduling in tf job
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
  charts/tfjob/values.yaml
  docs/training/index.md
  docs/training/tfjob/gangschd.md
  pkg/apis/types/submit.go
  pkg/argsbuilder/submit.go
  pkg/argsbuilder/submit_tfjob.go
Labels: lgtm, approved, size/L

#703 Feature/support update deployed serving
  charts/custom-serving/CHANGELOG.md
  charts/custom-serving/Chart.yaml
  charts/custom-serving/templates/configmap.yaml
  charts/custom-serving/templates/deployment.yaml
  charts/tfserving/CHANGELOG.md
  charts/tfserving/Chart.yaml
  charts/tfserving/templates/config.yaml
  charts/tfserving/templates/configmap.yaml
  charts/tfserving/templates/deployment.yaml
  charts/triton/CHANGELOG.md
  charts/triton/Chart.yaml
  charts/triton/templates/configmap.yaml
  charts/triton/templates/deployment.yaml
  docs/serving/customserving/update-serving.md
  docs/serving/index.md
  docs/serving/tfserving/update-serving.md
  docs/serving/triton/update-serving.md
  pkg/apis/arenaclient/serving_client.go
  pkg/apis/serving/custom_builder.go
  pkg/apis/serving/kubeflow_builder.go
  pkg/apis/serving/seldon_builder.go
  pkg/apis/serving/tensorflow_builder.go
  pkg/apis/serving/tensorrt_builder.go
  pkg/apis/serving/triton_builder.go
  pkg/apis/serving/update_custom_builder.go
  pkg/apis/serving/update_tensorflow_builder.go
  pkg/apis/serving/update_triton_builder.go
  pkg/apis/types/serving.go
  pkg/apis/types/update_serving.go
  pkg/argsbuilder/serving.go
  pkg/argsbuilder/serving_tensorflow.go
  pkg/argsbuilder/update_serving.go
  pkg/argsbuilder/update_serving_custom.go
  pkg/argsbuilder/update_serving_tensorflow.go
  pkg/argsbuilder/update_serving_triton.go
  pkg/commands/serving/serving.go
  pkg/commands/serving/update.go
  pkg/commands/serving/update_custom.go
  pkg/commands/serving/update_tensorflow.go
  pkg/commands/serving/update_triton.go
  pkg/serving/serving_custom.go
  pkg/serving/serving_kf.go
  pkg/serving/serving_seldon.go
  pkg/serving/serving_tensorflow.go
  pkg/serving/serving_tensorrt.go
  pkg/serving/serving_triton.go
  pkg/serving/update.go
  pkg/util/kubectl/kubectl.go
Labels: lgtm, approved, size/XXL

#708 support queued before scheduled
  pkg/apis/types/submit.go
  pkg/apis/types/training.go
  pkg/argsbuilder/const.go
  pkg/argsbuilder/submit.go
Labels: lgtm, approved, size/S

#690 release v0.8.9
  VERSION
  docs/releases/v0.8.9.md
  mkdocs.yml
Labels: lgtm, approved, size/S
