Repository kubeflow/arena, pull requests merged in 2021-03, with the labels that each got.

#486 add seldon core support
  charts/seldon-core/CHANGELOG.md
  charts/seldon-core/Chart.yaml
  charts/seldon-core/templates/_helpers.tpl
  charts/seldon-core/templates/seldondeployment.yaml
  charts/seldon-core/values.yaml
  docs/serving/index.md
  docs/serving/seldon-core/pre-packaged-model-server.md
  pkg/apis/arenaclient/serving_client.go
  pkg/apis/serving/seldon_builder.go
  pkg/apis/types/serving.go
  pkg/argsbuilder/serving_seldon.go
  pkg/commands/serving/serving.go
  pkg/commands/serving/serving_seldon.go
  pkg/serving/serving.go
  pkg/serving/serving_seldon.go
Labels: approved, lgtm, size/XL

#485 change link of ADOPTERS.md
  README.md
Labels: approved, lgtm, size/XS

#489 reduce the execution time of operating serving jobs
  pkg/commands/serving/serving_custom.go
  pkg/commands/serving/serving_kubeflow.go
  pkg/commands/serving/serving_seldon.go
  pkg/commands/serving/serving_tensorflow.go
  pkg/commands/serving/serving_tensorrt.go
  pkg/serving/get.go
  pkg/serving/list.go
  pkg/serving/serving.go
Labels: approved, lgtm, size/L

#502 Update ADOPTERS.md
  docs/about/ADOPTERS.md
Labels: size/XS

#503 Polish description of adopter page
  docs/about/ADOPTERS.md
Labels: approved, size/XS

#501 fix bug: error for getting training job logs when no chief pod
  pkg/training/logs.go
Labels: approved, lgtm, size/M

#518 release v0.8.0
  charts/sparkjob/CHANGELOG.md
  docs/releases/v0.8.0.md
  mkdocs.yml
Labels: approved, lgtm, size/M
