Repository kubeflow/arena, pull requests merged in 2021-01, with the labels that each got.

#396 fix some bugs for supporting arms prometheus
  pkg/apis/types/gpu_metric.go
  pkg/apis/utils/pods.go
  pkg/prometheus/prom.go
  pkg/topnode/define.go
  pkg/topnode/gpuexclusive.go
  pkg/topnode/gpushare.go
  pkg/topnode/gputopology.go
  pkg/topnode/normal.go
  pkg/topnode/summary.go
  pkg/training/get.go
  pkg/training/gpu.go
  pkg/training/top_job.go
Labels: approved, lgtm, ok-to-test, size/L

#397 fix bug: error in getting all node gpu metrics
  pkg/topnode/define.go
  pkg/topnode/gpushare.go
Labels: approved, lgtm, ok-to-test, size/XS

#408 update go version of CI to 1.14.10
  .travis.yml
Labels: approved, lgtm, needs-ok-to-test, size/XS

#407 update edl operator
  cmd/arena/commands/scalein_edl.go
  cmd/arena/commands/scaleout_edl.go
  cmd/arena/commands/submit_scale.go
  kubernetes-artifacts/et-operator/et-operator.yaml
  pkg/argsbuilder/scalein_etjob.go
  pkg/argsbuilder/scaleout_etjob.go
Labels: approved, lgtm, ok-to-test, size/XXL

#410 add the release note v0.7.0
  .circleci/config.yml
  CHANGELOG.md
Labels: approved, lgtm, ok-to-test, size/M

#403 add dependabot config script
  .github/dependabot.yml
  Makefile
  hack/create_dependabot.py
Labels: approved, lgtm, ok-to-test, size/L

#445 fix tfjob hostNetwork, remove ps constraint
  charts/tfjob/templates/tfjob.yaml
Labels: approved, lgtm, ok-to-test, size/XS

#447 fix bug: make sure et-operator is installed in arena-system namespace
  kubernetes-artifacts/et-operator/et-operator.yaml
  pkg/commands/training/get.go
  pkg/training/trainer_volcano.go
Labels: approved, lgtm, ok-to-test, size/S

#444 cacheClient use dynamicMapper
  cmd/arena/commands/gpu_info_test.go
  pkg/apis/arenaclient/arenaclient.go
  pkg/arenacache/cache_client.go
Labels: approved, lgtm, ok-to-test, size/M

#448 Update version
  VERSION
Labels: approved, size/XS

#449 Add adopters page
  README.md
  docs/ADOPTERS.md
Labels: approved, size/S
