Repository kubeflow/arena, pull requests merged in 2021-07, with the labels that each got.

#599 Feature/add uuid and creation timestamp in job info
  charts/triton/values.yaml
  docs/training/cron/cron-tfjob.md
  docs/training/index.md
  pkg/apis/types/const.go
  pkg/apis/types/cron.go
  pkg/apis/types/serving.go
  pkg/apis/types/training.go
  pkg/apis/utils/pods.go
  pkg/commands/cron/list.go
  pkg/cron/cron_handler.go
  pkg/serving/serving.go
  pkg/serving/serving_seldon.go
  pkg/training/get_advanced.go
  pkg/training/trainer_interface.go
  sdk/arena-java-sdk/pom.xml
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/client/ArenaClient.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/client/BaseClient.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/client/NodeClient.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/client/ServingClient.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/client/TrainingClient.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/enums/ArenaErrorEnum.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/enums/NodeType.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/enums/ServingJobType.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/enums/ServingJobTypeCodec.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/enums/TrainingJobStatus.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/enums/TrainingJobType.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/exceptions/ExitCodeException.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/serving/Instance.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/serving/ServingJobInfo.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/training/GPUMetric.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/training/Instance.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/training/TrainingJobInfo.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/utils/Command.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/CustomServingJobTest.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/MPIJobTest.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/NodeDetailsTest.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/ServingClientTest.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/TrainingClientTest.java
Labels: approved, lgtm, size/XXL

#603 refactor cron
  install.sh
  kubernetes-artifacts/cron-operator/cron-crd.yaml
  kubernetes-artifacts/cron-operator/cron-operator.yaml
  kubernetes-artifacts/kubedl/kubedl-crd.yaml
  pkg/apis/cron/cron_tfjob_builder.go
  pkg/apis/training/tfjob_builder.go
Labels: approved, lgtm, size/L

#605 fix bug: requestGPUMemory is missing for serving job
  docs/training/tfjob/standalone.md
  install.sh
  pkg/apis/types/serving.go
Labels: approved, lgtm, size/M

#606 delete previous installed cron-operator when install new version
  install.sh
Labels: approved, lgtm, size/XS

#607 release v0.8.6
  docs/releases/v0.8.6.md
  mkdocs.yml
Labels: approved, lgtm, size/S

#619 support annotations/nodeSelector/tolerations in tensorflow serving an…
  charts/tfserving/CHANGELOG.md
  charts/tfserving/templates/deployment.yaml
  charts/triton/CHANGELOG.md
  charts/triton/templates/deployment.yaml
Labels: approved, lgtm, size/M

#617 add annotation in tf job level
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
Labels: approved, lgtm, size/S
