Repository kubeflow/arena, pull requests merged in 2022-08, with the labels that each got.

#821 verify k8s resources valid
  pkg/argsbuilder/model.go
  pkg/argsbuilder/serving.go
  pkg/argsbuilder/submit_etjob.go
  pkg/argsbuilder/submit_horovodjob.go
  pkg/argsbuilder/submit_mpijob.go
  pkg/argsbuilder/submit_pytorchjob.go
  pkg/argsbuilder/submit_tfjob.go
  pkg/argsbuilder/update_serving.go
Labels: lgtm, approved, size/L

#826 Add support of gpu-core in top-node command.
  pkg/apis/types/const.go
  pkg/apis/types/gpunode.go
  pkg/apis/utils/pods.go
  pkg/topnode/gpushare.go
Labels: lgtm, approved, size/L

#835 add evaluator and tensorboard to pod group
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
  pkg/argsbuilder/submit_tfjob.go
Labels: lgtm, approved, size/S

#832 add pod info
  charts/custom-serving/Chart.yaml
  charts/custom-serving/templates/deployment.yaml
  charts/tfserving/Chart.yaml
  charts/tfserving/templates/deployment.yaml
  charts/triton/Chart.yaml
  charts/triton/templates/deployment.yaml
Labels: lgtm, approved, size/M

#837 refact installation
  Dockerfile.build
  Makefile
  arena-artifacts/Chart.yaml
  arena-artifacts/all_crds/cron-operator/apps.kubedl.io_crons.yaml
  arena-artifacts/all_crds/et-operator/kai.alibabacloud.com_scaleins.yaml
  arena-artifacts/all_crds/et-operator/kai.alibabacloud.com_scaleouts.yaml
  arena-artifacts/all_crds/et-operator/kai.alibabacloud.com_trainingjobs.yaml
  arena-artifacts/all_crds/et-operator/kai.alibabacloud.com_trainingjobs_v1beta1.yaml
  arena-artifacts/all_crds/mpi-operator/kubeflow.org_mpijobs_v1.yaml
  arena-artifacts/all_crds/mpi-operator/kubeflow.org_mpijobs_v1beta1.yaml
  arena-artifacts/all_crds/pytorch-operator/kubeflow.org_pytorchjobs_v1.yaml
  arena-artifacts/all_crds/pytorch-operator/kubeflow.org_pytorchjobs_v1beta1.yaml
  arena-artifacts/all_crds/tf-operator/kubeflow.org_tfjobs_v1.yaml
  arena-artifacts/all_crds/tf-operator/kubeflow.org_tfjobs_v1beta1.yaml
  arena-artifacts/charts/rdma/.helmignore
  arena-artifacts/charts/rdma/Chart.yaml
  arena-artifacts/charts/rdma/templates/device-plugin.yaml
  arena-artifacts/charts/rdma/templates/rdma-config.yaml
  arena-artifacts/charts/rdma/values.yaml
  arena-artifacts/values.yaml
  install.sh
  uninstall.sh
Labels: lgtm, approved, size/L

#836 Feature/add resource limit for tfjob
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
  docs/cli/arena_submit_tfjob.md
  pkg/apis/training/tfjob_builder.go
  pkg/apis/types/submit_tfjob.go
  pkg/argsbuilder/submit_tfjob.go
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/training/TFJobBuilder.java
  sdk/arena-python-sdk/arenasdk/training/tensorflow_job_builder.py
Labels: lgtm, approved, size/L
