Repository kubeflow/arena, pull requests merged in 2022-01, with the labels that each got.

#737 support crd v1 and v1beta1
  arena-artifacts/charts/cron-operator/templates/crds/apps.kubedl.io_crons.yaml
  arena-artifacts/charts/cron-operator/templates/operator-dp.yaml
  arena-artifacts/charts/et-operator/templates/crds/kai.alibabacloud.com_scaleins.yaml
  arena-artifacts/charts/et-operator/templates/crds/kai.alibabacloud.com_scaleouts.yaml
  arena-artifacts/charts/et-operator/templates/crds/kai.alibabacloud.com_trainingjobs.yaml
  arena-artifacts/charts/et-operator/templates/crds/kai.alibabacloud.com_trainingjobs_v1beta1.yaml
  arena-artifacts/charts/et-operator/templates/operator-dp.yaml
  arena-artifacts/charts/gpu-exporter/templates/gpu-exporter-dp.yaml
  arena-artifacts/charts/gpu-exporter/templates/servicemonitor.yaml
  arena-artifacts/charts/mpi-operator/templates/crds/kubeflow.org_mpijobs_v1.yaml
  arena-artifacts/charts/mpi-operator/templates/crds/kubeflow.org_mpijobs_v1beta1.yaml
  arena-artifacts/charts/mpi-operator/templates/operator-dp.yaml
  arena-artifacts/charts/mpi-operator/templates/operator-rbac.yaml
  arena-artifacts/charts/pytorch-operator/templates/crds/kubeflow.org_pytorchjobs_v1.yaml
  arena-artifacts/charts/pytorch-operator/templates/crds/kubeflow.org_pytorchjobs_v1beta1.yaml
  arena-artifacts/charts/pytorch-operator/templates/operator-dp.yaml
  arena-artifacts/charts/rdma/templates/device-plugin.yaml
  arena-artifacts/charts/tf-dashboard/templates/dashboard-dp.yaml
  arena-artifacts/charts/tf-operator/templates/crds/kubeflow.org_tfjobs_v1.yaml
  arena-artifacts/charts/tf-operator/templates/crds/kubeflow.org_tfjobs_v1beta1.yaml
  arena-artifacts/charts/tf-operator/templates/operator-dp.yaml
  arena-artifacts/templates/_helpers.tpl
  arena-artifacts/templates/binary-install-job.yaml
  arena-artifacts/values.yaml
  cmd/uninstall/uninstall.go
  install.sh
  pkg/apis/arenaclient/training_client.go
  pkg/apis/training/mpijob_builder.go
  pkg/argsbuilder/submit_mpijob.go
  samples/sdk/etjob/etjob.go
  samples/sdk/mpijob/mpijob.go
  samples/sdk/pytorchjob/pytorch.go
  samples/sdk/tfjob/tfjob.go
Labels: lgtm, approved, size/XXL

#738 support prometheus url token
  pkg/prometheus/query.go
Labels: lgtm, approved, size/M

#739 fix error when kubedl-operator has been existed
  cmd/uninstall/uninstall.go
  install.sh
Labels: lgtm, approved, size/M

#742 add arena model analyze job
  charts/modeljob/.helmignore
  charts/modeljob/CHANGELOG.md
  charts/modeljob/Chart.yaml
  charts/modeljob/templates/_helpers.tpl
  charts/modeljob/templates/job.yaml
  charts/modeljob/templates/service.yaml
  charts/modeljob/templates/tensorboard.yaml
  charts/modeljob/values.yaml
  docs/model/benchmark/benchmark_torchscript.md
  docs/model/index.md
  docs/model/optimize/optimize_torchscript.md
  docs/model/profile/1-torchscript-profile-result.jpg
  docs/model/profile/profile_torchscript.md
  pkg/apis/arenaclient/arenaclient.go
  pkg/apis/arenaclient/model_client.go
  pkg/apis/model/benchmark_builder.go
  pkg/apis/model/job.go
  pkg/apis/model/optimize_builder.go
  pkg/apis/model/profile_builder.go
  pkg/apis/types/model.go
  pkg/apis/utils/utils.go
  pkg/argsbuilder/model.go
  pkg/argsbuilder/model_benchmark.go
  pkg/argsbuilder/model_optimize.go
  pkg/argsbuilder/model_profile.go
  pkg/commands/evaluate/evaluate.go
  pkg/commands/model/delete.go
  pkg/commands/model/get.go
  pkg/commands/model/list.go
  pkg/commands/model/model.go
  pkg/commands/model/submit_benchmark.go
  pkg/commands/model/submit_optimize.go
  pkg/commands/model/submit_profile.go
  pkg/commands/root.go
  pkg/model/delete.go
  pkg/model/get.go
  pkg/model/list.go
  pkg/model/model.go
  pkg/model/model_interface.go
  pkg/model/submit_benchmark.go
  pkg/model/submit_optimize.go
  pkg/model/submit_profile.go
Labels: lgtm, approved, size/XXL

#743 fix mpi-opreator crash error
  arena-artifacts/values.yaml
  kubernetes-artifacts/mpi-operator/mpi-operator.yaml
Labels: lgtm, approved, size/XS
