Repository kubeflow/arena, pull requests merged in 2022-03, with the labels that each got.

#755 fix: arena artifacts error
  arena-artifacts/charts/rdma/templates/device-plugin.yaml
  arena-artifacts/templates/_helpers.tpl
Labels: lgtm, approved, size/XS

#752 fix conflict file
  cmd/uninstall/uninstall.go
Labels: lgtm, approved, size/L

#756 release v0.9.0
  VERSION
  docs/releases/v0.9.0.md
  mkdocs.yml
Labels: lgtm, approved, size/S

#757 fix bug: failed to run pytorch with rdma
  arena-artifacts/values.yaml
  kubernetes-artifacts/pytorch-operator/pytorch-operator.yaml
  pkg/argsbuilder/submit_pytorchjob.go
Labels: lgtm, approved, size/S
