Repository kubeflow/arena, pull requests merged in 2023-02, with the labels that each got.

#901 Modify helm package url in Dockerfile.
  Dockerfile.build
  Dockerfile.install
  Dockerfile.notebook.cpu
  Dockerfile.notebook.kubeflow
Labels: lgtm, approved, size/XS

#900 Arena support submit parameters useHostNetwork useHostIPC useHostPID.
  pkg/apis/types/submit.go
  pkg/argsbuilder/submit.go
Labels: lgtm, approved, size/S

#899 Modify the support method of Toleration
  charts/cron-tfjob/templates/_tfjob.yaml
  charts/custom-serving/templates/deployment.yaml
  charts/etjob/templates/etjob.yaml
  charts/etjob/templates/tensorboard.yaml
  charts/evaluatejob/templates/job.yaml
  charts/modeljob/templates/job.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/pytorchjob/templates/pytorchjob.yaml
  charts/pytorchjob/templates/tensorboard.yaml
  charts/tfjob/templates/deployment.yaml
  charts/tfjob/templates/tfjob.yaml
  charts/tfserving/templates/deployment.yaml
  charts/triton/templates/deployment.yaml
  pkg/apis/types/evaluatejob.go
  pkg/apis/types/model.go
  pkg/apis/types/serving.go
  pkg/apis/types/submit.go
  pkg/apis/types/update_serving.go
  pkg/argsbuilder/evaluatejob.go
  pkg/argsbuilder/model.go
  pkg/argsbuilder/serving.go
  pkg/argsbuilder/submit.go
  pkg/argsbuilder/update_serving.go
  pkg/argsbuilder/util.go
  pkg/serving/update.go
Labels: lgtm, approved, size/XL

#902 Fix/fix serve triton bugs
  VERSION
  charts/triton/templates/deployment.yaml
Labels: lgtm, approved, size/XS

#905 Add toleration dedup for arena serve update.
  pkg/serving/update.go
Labels: lgtm, approved, size/S

#907 Fix model serve args bug.
  pkg/model/model.go
  pkg/serving/update.go
Labels: lgtm, approved, size/M

#910 Fix arena serve update bug.
  pkg/model/model.go
  pkg/serving/update.go
Labels: lgtm, approved, size/XS

#911 Update submit training operator job and charts.
  .circleci/config.yml
  charts/mpijob/CHANGELOG.md
  charts/mpijob/Chart.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/mpijob/templates/tensorboard.yaml
  charts/mpijob/values.yaml
  charts/pytorchjob/CHANGELOG.md
  charts/pytorchjob/Chart.yaml
  charts/pytorchjob/templates/pytorchjob.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
  cmd/arena/main.go
  pkg/apis/arenaclient/evaluate_client.go
  pkg/argsbuilder/cron_tfjob.go
  pkg/argsbuilder/submit_mpijob.go
  pkg/commands/evaluate/evaluate_model.go
  pkg/commands/evaluate/get.go
  pkg/commands/evaluate/list.go
  pkg/evaluate/delete.go
  pkg/evaluate/submit.go
  pkg/k8saccesser/k8s_accesser.go
  pkg/training/trainer_mpi.go
  pkg/training/trainer_pytorch.go
  pkg/training/trainer_tensorflow.go
Labels: lgtm, approved, size/XXL

#913 Fix: circleci working_directory has changed from /go to /home/circleci/go
  .circleci/config.yml
Labels: lgtm, approved, size/XS

#914 Change the go version of building arena to 1.19.4.
  .travis.yml
  Dockerfile.build
  Dockerfile.install
  Dockerfile.notebook.cpu
  Dockerfile.notebook.kubeflow
Labels: lgtm, approved, size/S

#924 Fix arena java sdk env bug.
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/utils/Command.java
Labels: size/S
