Repository kubeflow/arena, pull requests merged in 2023-05, with the labels that each got.

#954 Fix evaluatejob job yaml in charts.
  charts/evaluatejob/templates/job.yaml
Labels: lgtm, approved, size/S

#955 Update SDK and JAVA SDK Unit test
  docs/cli/arena_submit_pytorchjob.md
  docs/cli/arena_submit_tfjob.md
  pkg/apis/cron/cron_tfjob_builder.go
  pkg/apis/training/pytorchjob_builder.go
  pkg/apis/training/tfjob_builder.go
  sdk/arena-java-sdk/out/artifacts/arena_java_sdk/arena-java-sdk-1.0.4.jar
  sdk/arena-java-sdk/out/artifacts/arena_java_sdk/arena-java-sdk-1.0.5.jar
  sdk/arena-java-sdk/pom.xml
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/training/PytorchJobBuilder.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/training/TFJobBuilder.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/CustomServingJobTest.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/EvaluateClientTest.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/MPIJobTest.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/PyTorchJobTest.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/ServingClientTest.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/TensorflowServingJobTest.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/TrainingClientTest.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/TritonServingJobTest.java
  sdk/arena-python-sdk/arenasdk/training/pytorch_job_builder.py
  sdk/arena-python-sdk/arenasdk/training/tensorflow_job_builder.py
Labels: lgtm, approved, size/L

#956 Fix panic when pod started failed
  docs/cli/arena_serve_custom.md
  docs/cli/arena_serve_kfserving.md
  docs/cli/arena_serve_seldon.md
  docs/cli/arena_serve_tensorflow.md
  docs/cli/arena_serve_tensorrt.md
  docs/cli/arena_submit_etjob.md
  docs/cli/arena_submit_horovodjob.md
  docs/cli/arena_submit_mpijob.md
  docs/cli/arena_submit_pytorchjob.md
  docs/cli/arena_submit_tfjob.md
  docs/serving/tfserving/monitor.md
  pkg/apis/utils/pods.go
  pkg/argsbuilder/evaluatejob.go
  pkg/argsbuilder/model.go
  pkg/argsbuilder/serving.go
  pkg/argsbuilder/submit.go
  pkg/argsbuilder/submit_sparkjob.go
  pkg/argsbuilder/submit_volcanojob.go
  pkg/argsbuilder/update_serving.go
Labels: lgtm, approved, size/M
