Repository kubeflow/arena, pull requests merged in 2023-04, with the labels that each got.

#947 Add ownerReference for configmap and tensorboard
  arena-artifacts/all_crds/v1/et-operator/kai.alibabacloud.com_trainingjobs.yaml
  arena-artifacts/values.yaml
  charts/etjob/CHANGELOG.md
  charts/etjob/Chart.yaml
  charts/etjob/values.yaml
  charts/pytorchjob/CHANGELOG.md
  charts/pytorchjob/Chart.yaml
  charts/pytorchjob/templates/ingress.yaml
  charts/pytorchjob/templates/service.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/ingress.yaml
  charts/tfjob/templates/service.yaml
  pkg/util/kubectl/kubectl.go
  pkg/workflow/workflow.go
Labels: lgtm, approved, size/L

#949 support set TTLSecondsAfterFinished in Builder
  pkg/apis/cron/cron_tfjob_builder.go
  pkg/apis/training/pytorchjob_builder.go
  pkg/apis/training/tfjob_builder.go
Labels: lgtm, approved, size/S

#950 Update arena version to 0.9.7
  VERSION
Labels: lgtm, approved, size/XS

#951 Support Cron tfjob set ttlAfterFinished.
  charts/cron-tfjob/CHANGELOG.md
  charts/cron-tfjob/Chart.yaml
  charts/cron-tfjob/templates/_tfjob.yaml
  pkg/util/kubectl/kubectl.go
Labels: lgtm, approved, size/M

#952 Add DeepSpeed base image dockerfile.
  samples/deepspeed/Dockerfile
Labels: lgtm, approved, size/S

#953 Move policy v1beta1 to v1.
  charts/tfjob/templates/_helpers.tpl
  charts/tfjob/templates/pdb.yaml
Labels: lgtm, approved, size/S
