Repository kubeflow/arena, pull requests merged in 2023-03, with the labels that each got.

#931 patch for job supervisor
  arena-artifacts/Chart.yaml
  arena-artifacts/charts/elastic-job-supervisor/templates/deployment.yaml
Labels: lgtm, approved, size/S

#934 Fix/fix gang pod label
  pkg/argsbuilder/submit.go
  pkg/argsbuilder/submit_tfjob.go
Labels: lgtm, approved, size/XS

#935 Fix serve update when limits is null
  VERSION
  pkg/serving/update.go
Labels: lgtm, approved, size/XS

#943 Update java sdk to 1.0.4.
  sdk/arena-java-sdk/out/artifacts/arena_java_sdk/arena-java-sdk-1.0.3.jar
  sdk/arena-java-sdk/out/artifacts/arena_java_sdk/arena-java-sdk-1.0.4.jar
  sdk/arena-java-sdk/pom.xml
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/utils/Command.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/EvaluateClientTest.java
  sdk/arena-java-sdk/src/test/java/com/github/kubeflow/arena/TensorflowServingJobTest.java
Labels: lgtm, approved, size/S

#930 Support TFJob/PytorchJob ActiveDeadlineSeconds
  charts/pytorchjob/templates/pytorchjob.yaml
  charts/tfjob/templates/tfjob.yaml
  pkg/apis/training/pytorchjob_builder.go
  pkg/apis/types/submit_pytorchjob.go
  pkg/apis/types/submit_tfjob.go
  pkg/argsbuilder/submit_pytorchjob.go
  pkg/argsbuilder/submit_tfjob.go
Labels: lgtm, approved, size/M

#944 Support TFJob StartingDeadlineSeconds
  arena-artifacts/all_crds/v1/tf-operator/kubeflow.org_tfjobs_v1.yaml
  arena-artifacts/values.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
  install.sh
  pkg/apis/types/submit_tfjob.go
  pkg/argsbuilder/submit_tfjob.go
Labels: lgtm, approved, size/M

#946 Support TTLSecondsAfterFinished
  VERSION
  arena-artifacts/values.yaml
  charts/pytorchjob/CHANGELOG.md
  charts/pytorchjob/Chart.yaml
  charts/pytorchjob/templates/pytorchjob.yaml
  charts/tfjob/CHANGELOG.md
  charts/tfjob/Chart.yaml
  charts/tfjob/templates/tfjob.yaml
  pkg/apis/types/submit_pytorchjob.go
  pkg/apis/types/submit_tfjob.go
  pkg/argsbuilder/submit_pytorchjob.go
  pkg/argsbuilder/submit_tfjob.go
Labels: lgtm, approved, size/M

#945 Add imagePullSecret and shareMemory for arena serve.
  charts/custom-serving/templates/deployment.yaml
  charts/tfserving/templates/deployment.yaml
  charts/triton/templates/deployment.yaml
  charts/trtserving/templates/deployment.yaml
  pkg/apis/types/serving.go
  pkg/argsbuilder/serving.go
  pkg/argsbuilder/serving_triton.go
Labels: lgtm, approved, size/L
