Repository kubeflow/arena, pull requests merged in 2024-11, with the labels that each got.

#1181 Add changelog for v0.11.0
  CHANGELOG.md
  VERSION
  arena-artifacts/Chart.yaml
Labels: lgtm, approved, size/S

#1191 Fix: unable to set cleanPodPolicy to All when submitting TFJob
  charts/tfjob/templates/tfjob.yaml
Labels: lgtm, approved, size/S

#1187 Feat: add support for distributed serving type
  charts/distributed-serving/.helmignore
  charts/distributed-serving/CHANGLOG.md
  charts/distributed-serving/Chart.yaml
  charts/distributed-serving/templates/_helpers.tpl
  charts/distributed-serving/templates/configmap.yaml
  charts/distributed-serving/templates/distributed.yaml
  charts/distributed-serving/templates/service.yaml
  charts/distributed-serving/values.yaml
  docs/cli/arena_serve_distributed.md
  docs/serving/distributedserving/serving.md
  docs/serving/index.md
  go.mod
  go.sum
  pkg/apis/arenaclient/serving_client.go
  pkg/apis/serving/distributed_builder.go
  pkg/apis/serving/update_distributed_builder.go
  pkg/apis/types/serving.go
  pkg/apis/types/update_serving.go
  pkg/argsbuilder/serving_distributed.go
  pkg/argsbuilder/update_serving_distributed.go
  pkg/commands/serving/serving.go
  pkg/commands/serving/serving_distributed.go
  pkg/commands/serving/update.go
  pkg/commands/serving/update_distributed.go
  pkg/k8saccesser/const.go
  pkg/k8saccesser/k8s_accesser.go
  pkg/serving/get.go
  pkg/serving/serving.go
  pkg/serving/serving_distributed.go
  pkg/serving/update.go
  pkg/serving/util.go
  pkg/util/kubectl/kubectl.go
Labels: lgtm, approved, size/XXL

#1197 Release v0.12.0
  VERSION
  arena-artifacts/Chart.yaml
  arena-artifacts/values.yaml
Labels: size/S

#1200 Update tf-operator image to fix clean pod policy issues
  arena-artifacts/values.yaml
Labels: lgtm, approved, size/XS

#1199 Add changelog for v0.12.0
  CHANGELOG.md
  VERSION
  arena-artifacts/Chart.yaml
Labels: lgtm, approved, size/S

#1198 Add go mod vendor check to integration test
  .github/workflows/integration.yaml
Labels: lgtm, approved, size/XS

#1209 Support MPI Job with generic devices
  charts/mpijob/templates/mpijob.yaml
Labels: lgtm, approved, size/XS

#1210 Publish releases only on master branch
  .github/workflows/check-release.yaml
  .github/workflows/release.yaml
Labels: lgtm, approved, size/XS

#1201 Add docs for releasing arena
  README.md
  docs/release.md
Labels: lgtm, approved, size/M

#1214 Update cron operator image
  arena-artifacts/values.yaml
Labels: lgtm, approved, size/XS

#1215 Release v0.12.1
  VERSION
  arena-artifacts/Chart.yaml
Labels: lgtm, approved, size/XS
