Repository kubeflow/arena, pull requests merged in 2024-03, with the labels that each got.

#1051 delete cm if job failed
  pkg/util/kubeclient/configmap.go
  pkg/workflow/workflow.go
Labels: lgtm, approved, size/S

#1049 support update --data in kserve serving job
  pkg/apis/types/update_serving.go
  pkg/argsbuilder/update_serving.go
  pkg/serving/update.go
Labels: kind/feature, lgtm, approved, size/M

#1057 Release arena v0.9.13
  VERSION
  docs/releases/v0.9.13.md
  mkdocs.yml
Labels: lgtm, approved, size/S

#1060 ⚠️ Breaking Changes: Migrate model subcommand to model analyze
  charts/modeljob/templates/job.yaml
  charts/pytorchjob/templates/ingress.yaml
  charts/seldon-core/templates/seldondeployment.yaml
  charts/tfjob/templates/ingress.yaml
  charts/trtserving/templates/deployment.yaml
  docs/model/benchmark/benchmark_torchscript.md
  docs/model/index.md
  docs/model/optimize/optimize_torchscript.md
  docs/model/profile/profile_torchscript.md
  pkg/apis/arenaclient/analyze_client.go
  pkg/apis/arenaclient/arenaclient.go
  pkg/apis/arenaclient/model_client.go
  pkg/apis/model/analyze/benchmark_builder.go
  pkg/apis/model/analyze/evaluate_builder.go
  pkg/apis/model/analyze/job.go
  pkg/apis/model/analyze/optimize_builder.go
  pkg/apis/model/analyze/profile_builder.go
  pkg/commands/model/analyze/analyze.go
  pkg/commands/model/analyze/delete.go
  pkg/commands/model/analyze/get.go
  pkg/commands/model/analyze/list.go
  pkg/commands/model/analyze/submit_benchmark.go
  pkg/commands/model/analyze/submit_evaluate.go
  pkg/commands/model/analyze/submit_optimize.go
  pkg/commands/model/analyze/submit_profile.go
  pkg/commands/model/model.go
  pkg/model/analyze/delete.go
  pkg/model/analyze/get.go
  pkg/model/analyze/list.go
  pkg/model/analyze/model.go
  pkg/model/analyze/model_interface.go
  pkg/model/analyze/submit_benchmark.go
  pkg/model/analyze/submit_evaluate.go
  pkg/model/analyze/submit_optimize.go
  pkg/model/analyze/submit_profile.go
Labels: lgtm, approved, size/L
