Repository kubeflow/arena, pull requests merged in 2024-07, with the labels that each got.

#1103 Add @ChenYi015 as Arena approvers
  OWNERS
Labels: lgtm, approved, size/XS

#1102 Upgrade the kubernetes dependencies to v1.28 and go version to 1.21
  .circleci/config.yml
  .travis.yml
  Dockerfile.build
  Dockerfile.install
  Dockerfile.notebook.cpu
  Dockerfile.notebook.kubeflow
  Makefile
  go.mod
  go.sum
  pkg/apis/types/traffic_router.go
  pkg/k8saccesser/k8s_accesser.go
  pkg/serving/traffic_router_split.go
Labels: lgtm, approved, size/XL

#1104 Support setting shared memory for training job.
  Dockerfile.install
  Dockerfile.notebook.cpu
  Dockerfile.notebook.kubeflow
  charts/pytorchjob/templates/pytorchjob.yaml
  charts/pytorchjob/values.yaml
  charts/tfjob/templates/tfjob.yaml
  pkg/apis/training/pytorchjob_builder.go
  pkg/apis/training/tfjob_builder.go
  pkg/apis/types/submit_pytorchjob.go
  pkg/apis/types/submit_tfjob.go
  pkg/argsbuilder/submit_pytorchjob.go
  pkg/argsbuilder/submit_tfjob.go
Labels: lgtm, approved, size/L

#1105 Add a demo for using arena CLI in container.
  samples/cli/use-in-container/Dockerfile
  samples/cli/use-in-container/README.md
  samples/cli/use-in-container/deployment.yaml
  samples/cli/use-in-container/rbac.yaml
Labels: lgtm, approved, size/L

#1107 Add env-from-secret to read environment variables from secret
  Dockerfile.install
  charts/custom-serving/templates/deployment.yaml
  charts/kserve/templates/inferenceservice.yaml
  charts/triton/templates/deployment.yaml
  pkg/apis/serving/custom_builder.go
  pkg/apis/serving/kserve_builder.go
  pkg/apis/serving/triton_builder.go
  pkg/apis/types/serving.go
  pkg/argsbuilder/serving.go
Labels: lgtm, approved, size/M

#1108 Support config security context for KServe
  charts/kserve/templates/inferenceservice.yaml
  pkg/apis/types/serving.go
  pkg/argsbuilder/serving_kserve.go
Labels: lgtm, approved, size/M

#1109 Fix incorrect TensorBoard images.
  charts/cron-tfjob/values.yaml
  charts/etjob/values.yaml
  charts/mpijob/values.yaml
  charts/pytorchjob/values.yaml
  charts/tfjob/values.yaml
  pkg/apis/training/common.go
  pkg/apis/types/submit_tfjob.go
  pkg/argsbuilder/submit_tensorboard.go
Labels: lgtm, approved, size/S

#1110 Release arena v0.9.16
  VERSION
  docs/releases/v0.9.16.md
  mkdocs.yml
Labels: lgtm, approved, size/S

#1112 Fix submitting spark training jobs and update docs
  charts/sparkjob/templates/sparkjob.yaml
  charts/sparkjob/values.yaml
  docs/training/sparkjob/distributed.md
  pkg/apis/types/submit_sparkjob.go
  pkg/argsbuilder/submit_sparkjob.go
Labels: lgtm, approved, size/L

#1113 Remove docker dependency
  arena-artifacts/charts/et-operator/templates/operator-dp.yaml
  arena-artifacts/values.yaml
  go.mod
  go.sum
  pkg/podexec/exec.go
Labels: lgtm, approved, size/S
