Repository kubeflow/arena, pull requests merged in 2024-10, with the labels that each got.

#1164 fix: keep arena installer after installing the binary
  Dockerfile
  VERSION
  arena-artifacts/Chart.yaml
  arena-artifacts/values.yaml
Labels: lgtm, approved, size/S

#1170 fix: unsupported success policy when success policy is not specified
  pkg/argsbuilder/submit_tfjob.go
Labels: lgtm, approved, size/XS

#1171 Migrate docker image to ACREE
  arena-artifacts/values.yaml
Labels: lgtm, approved, size/XS

#1173 fix: failed to sync cache due to status subresouce missed in tfjob CRD
  arena-artifacts/all_crds/v1/tf-operator/kubeflow.org_tfjobs_v1.yaml
Labels: lgtm, approved, size/S

#1167 Release v0.10.1
  Dockerfile
  VERSION
  arena-artifacts/Chart.yaml
  arena-artifacts/all_crds/v1/tf-operator/kubeflow.org_tfjobs_v1.yaml
  arena-artifacts/values.yaml
  docs/requirements.txt
  go.mod
  go.sum
  pkg/argsbuilder/submit_tfjob.go
Labels: size/M

#1175 Add changelog for v0.10.1
  CHANGELOG.md
  VERSION
  arena-artifacts/Chart.yaml
Labels: lgtm, approved, size/S

#1123 Support ray job
  charts/rayjob/.helmignore
  charts/rayjob/CHANGELOG.md
  charts/rayjob/Chart.yaml
  charts/rayjob/templates/_helpers.tpl
  charts/rayjob/templates/rayjob.yaml
  charts/rayjob/values.yaml
  docs/training/index.md
  docs/training/rayjob/rayjob.md
  go.mod
  go.sum
  pkg/apis/arenaclient/training_client.go
  pkg/apis/training/rayjob_builder.go
  pkg/apis/types/submit_rayjob.go
  pkg/apis/types/training.go
  pkg/apis/utils/training.go
  pkg/argsbuilder/submit_rayjob.go
  pkg/commands/training/model.go
  pkg/commands/training/submit.go
  pkg/commands/training/submit_rayjob.go
  pkg/k8saccesser/const.go
  pkg/k8saccesser/k8s_accesser.go
  pkg/training/submit_rayjob.go
  pkg/training/trainer.go
  pkg/training/trainer_ray.go
  pkg/util/kubectl/training.go
Labels: lgtm, approved, size/XXL

#1180 Release v0.11.0
  VERSION
  arena-artifacts/Chart.yaml
Labels: size/XS
