Repository kubeflow/arena, pull requests merged in 2024-09, with the labels that each got.

#1122 #1121 Support multiple type devices
  charts/custom-serving/templates/deployment.yaml
  charts/custom-serving/values.yaml
  charts/etjob/templates/etjob.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/pytorchjob/templates/pytorchjob.yaml
  charts/pytorchjob/values.yaml
  charts/tfjob/templates/tfjob.yaml
  charts/tfjob/values.yaml
  docs/cli/arena_serve_custom.md
  docs/cli/arena_submit_etjob.md
  docs/cli/arena_submit_horovodjob.md
  docs/cli/arena_submit_mpijob.md
  docs/cli/arena_submit_pytorchjob.md
  docs/cli/arena_submit_tfjob.md
  docs/sdk/go/serving/customserving.md
  docs/sdk/go/training/etjob.md
  docs/sdk/go/training/mpijob.md
  docs/sdk/go/training/pytorchjob.md
  docs/sdk/go/training/tfjob.md
  pkg/apis/serving/custom_builder.go
  pkg/apis/training/pytorchjob_builder.go
  pkg/apis/training/tfjob_builder.go
  pkg/apis/types/serving.go
  pkg/apis/types/submit.go
  pkg/argsbuilder/serving.go
  pkg/argsbuilder/submit.go
  pkg/util/validate.go
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/serving/CustomServingJobBuilder.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/serving/JobBuilder.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/training/ETJobBuilder.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/training/JobBuilder.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/training/MPIJobBuilder.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/training/PytorchJobBuilder.java
  sdk/arena-java-sdk/src/main/java/com/github/kubeflow/arena/model/training/TFJobBuilder.java
Labels: lgtm, approved, size/XL

#1124 Bump arena Java SDK version to 1.0.8
  sdk/arena-java-sdk/out/artifacts/arena_java_sdk/arena-java-sdk-1.0.7.jar
  sdk/arena-java-sdk/out/artifacts/arena_java_sdk/arena-java-sdk-1.0.8.jar
  sdk/arena-java-sdk/pom.xml
Labels: lgtm, approved, size/S

#1128 Update Makefile and release workflow
  .dockerignore
  .github/workflows/check-release.yaml
  .github/workflows/integration.yaml
  .github/workflows/release.yaml
  .github/workflows/test-go.yaml
  .github/workflows/unittests.yaml
  .gitignore
  Dockerfile
  Dockerfile.build
  Dockerfile.install
  Makefile
  entrypoint.sh
  run_arena.sh
Labels: lgtm, approved, size/XL

#1129 chore: remove travis and circle CI
  .circleci/config.yml
  .travis.yml
  README.md
  README_cn.md
Labels: lgtm, approved, size/M

#1130 Increase RSA key bit size from 1024 to 2048
  pkg/util/ssh_secret.go
Labels: lgtm, approved, size/XS

#1140 chore: add issue templates and update depenabot bot
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/question.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/issue_label_bot.yaml
Labels: lgtm, approved, size/L

#1131 docs: fix broken links and add CI for checking document build status
  .github/workflows/integration.yaml
  .gitignore
  docs/requirements.txt
  docs/serving/tfserving/update-serving.md
  docs/serving/triton/update-serving.md
Labels: lgtm, approved, size/S

#1132 Bump client-java from 10.0.1 to 11.0.1
  sdk/arena-java-sdk/pom.xml
Labels: lgtm, approved, size/XS

#1155 [Bugfix] Make PytorchJob devices format to key=value
  pkg/apis/training/pytorchjob_builder.go
Labels: lgtm, approved, size/XS

#1148 Add success policy to TF training job
  arena-artifacts/all_crds/v1/tf-operator/kubeflow.org_tfjobs_v1.yaml
  charts/tfjob/templates/tfjob.yaml
  charts/tfjob/values.yaml
  pkg/apis/types/submit_tfjob.go
  pkg/argsbuilder/submit_tfjob.go
Labels: lgtm, approved, size/XXL

#1142 Bump golang from 1.21 to 1.22.7
  Dockerfile
  Dockerfile.notebook.cpu
  Dockerfile.notebook.kubeflow
  Makefile
  go.mod
Labels: lgtm, approved, size/L

#1157 Release v0.10.0
  VERSION
  arena-artifacts/Chart.yaml
Labels: size/XS
