Repository kubeflow/arena, pull requests merged in 2024-04, with the labels that each got.

#1069 Fix readthedocs build failed.
  .readthedocs.yaml
Labels: lgtm, approved, size/XS

#1068 Fix: model information does not display correctly when getting a training job
  pkg/training/get.go
Labels: lgtm, approved, size/XS

#1066 Update model manage documenation
  docs/model/analyze/benchmark/benchmark_torchscript.md
  docs/model/analyze/index.md
  docs/model/analyze/optimize/optimize_torchscript.md
  docs/model/analyze/profile/1-torchscript-profile-result.jpg
  docs/model/analyze/profile/profile_torchscript.md
  docs/model/index.md
  mkdocs.yml
Labels: lgtm, approved, size/L

#1070 Release arena v0.9.14
  VERSION
  docs/model/analyze/index.md
  docs/model/index.md
  docs/releases/v0.9.14.md
  mkdocs.yml
Labels: approved, size/S

#1074 fix --command parameter
  pkg/apis/cron/cron_tfjob_builder.go
  pkg/apis/evaluate/evaluatejob_builder.go
  pkg/apis/model/analyze/benchmark_builder.go
  pkg/apis/model/analyze/evaluate_builder.go
  pkg/apis/model/analyze/optimize_builder.go
  pkg/apis/model/analyze/profile_builder.go
  pkg/apis/serving/custom_builder.go
  pkg/apis/serving/kserve_builder.go
  pkg/apis/serving/kubeflow_builder.go
  pkg/apis/serving/seldon_builder.go
  pkg/apis/serving/tensorflow_builder.go
  pkg/apis/serving/tensorrt_builder.go
  pkg/apis/serving/triton_builder.go
  pkg/apis/serving/update_custom_builder.go
  pkg/apis/serving/update_kserve_builder.go
  pkg/apis/serving/update_tensorflow_builder.go
  pkg/apis/serving/update_triton_builder.go
  pkg/apis/training/deepspeedjob_builder.go
  pkg/apis/training/etjob_builder.go
  pkg/apis/training/horovod_builder.go
  pkg/apis/training/mpijob_builder.go
  pkg/apis/training/pytorchjob_builder.go
  pkg/apis/training/tfjob_builder.go
  pkg/apis/training/volcano_builder.go
  pkg/argsbuilder/serving.go
  pkg/argsbuilder/serving_tensorflow.go
  pkg/argsbuilder/serving_triton.go
  samples/cli/serving/serving.sh
Labels: lgtm, approved, size/L

#1072 Upgrade helm version to v3.13.3
  Dockerfile.build
  Makefile
Labels: lgtm, approved, size/XS

#1073 Feature/kserve custom metrics prometheus
  charts/kserve/templates/_helpers.tpl
  charts/kserve/templates/inferenceservice.yaml
  pkg/apis/types/serving.go
  pkg/argsbuilder/serving_kserve.go
Labels: lgtm, approved, size/L

#1075 Fix command includes quotes cause Helm template failure.
  charts/custom-serving/templates/deployment.yaml
  charts/etjob/templates/etjob.yaml
  charts/evaluatejob/templates/job.yaml
  charts/kserve/templates/inferenceservice.yaml
  charts/modeljob/templates/job.yaml
  charts/mpijob/templates/mpijob.yaml
  charts/pytorchjob/templates/pytorchjob.yaml
  charts/tf-horovod/templates/job.yaml
  charts/tfserving/templates/deployment.yaml
  charts/triton/templates/deployment.yaml
Labels: lgtm, approved, size/S

#1078 Release arena v0.9.15
  VERSION
  docs/releases/v0.9.15.md
  mkdocs.yml
Labels: lgtm, approved, size/S
