Repository kubeflow/arena, pull requests merged in 2024-02, with the labels that each got.

#1034 Feature/inferenceservice
  charts/kserve/templates/inferenceservice.yaml
  mkdocs.yml
Labels: lgtm, approved, size/M

#1036 update tritonserver base image to nvcr.io/nvidia/tritonserver:24.01-py3
  charts/triton/values.yaml
  docs/serving/triton/serving.md
  pkg/argsbuilder/serving_triton.go
Labels: lgtm, approved, size/XS

#1035 Add CI to run Go unit test.
  .github/workflows/unittests.yaml
  Makefile
Labels: approved, size/M

#1037 Release arena v0.9.12
  VERSION
  docs/releases/v0.9.12.md
  mkdocs.yml
Labels: approved, size/S

#1038 add denkensk as approver
  OWNERS
Labels: lgtm, approved, size/XS

#1039 feat: add backend param for triton serving
  charts/triton/templates/_helpers.tpl
  charts/triton/templates/deployment.yaml
  charts/triton/values.yaml
  pkg/apis/serving/triton_builder.go
  pkg/apis/types/serving.go
  pkg/argsbuilder/serving_triton.go
Labels: lgtm, approved, size/M

#1032 Upgrade Go version to v1.20
  .circleci/config.yml
  .travis.yml
  Dockerfile.build
  Dockerfile.install
  Dockerfile.notebook.cpu
  Dockerfile.notebook.kubeflow
  Makefile
  cmd/uninstall/uninstall.go
  go.mod
  hack/docgen.go
  pkg/apis/arenaclient/arenaclient.go
  pkg/apis/arenaclient/node_client.go
  pkg/apis/config/kubeclient.go
  pkg/apis/config/user.go
  pkg/apis/utils/utils.go
  pkg/argsbuilder/builder.go
  pkg/argsbuilder/scale_etjob.go
  pkg/argsbuilder/scalein_etjob.go
  pkg/argsbuilder/scaleout_etjob.go
  pkg/argsbuilder/serving_custom.go
  pkg/argsbuilder/serving_kf.go
  pkg/argsbuilder/serving_tensorflow.go
  pkg/argsbuilder/serving_tensorrt.go
  pkg/argsbuilder/submit_etjob.go
  pkg/argsbuilder/submit_horovodjob.go
  pkg/argsbuilder/submit_mpijob.go
  pkg/argsbuilder/submit_sparkjob.go
  pkg/argsbuilder/submit_volcanojob.go
  pkg/argsbuilder/traffic_router_builder.go
  pkg/argsbuilder/update_serving_custom.go
  pkg/argsbuilder/update_serving_tensorflow.go
  pkg/argsbuilder/update_serving_triton.go
  pkg/commands/training/prune.go
  pkg/operators/et-operator/api/common/types.go
  pkg/operators/et-operator/client/clientset/versioned/scheme/register.go
  pkg/operators/kubedl-operator/client/clientset/versioned/fake/register.go
  pkg/operators/kubedl-operator/client/clientset/versioned/scheme/register.go
  pkg/operators/mpi-operator/client/clientset/versioned/scheme/register.go
  pkg/operators/pytorch-operator/client/clientset/versioned/fake/register.go
  pkg/operators/pytorch-operator/client/clientset/versioned/scheme/register.go
  pkg/operators/spark-operator/apis/sparkoperator.k8s.io/v1beta2/defaults_test.go
  pkg/operators/spark-operator/client/clientset/versioned/fake/register.go
  pkg/operators/spark-operator/client/clientset/versioned/scheme/register.go
  pkg/operators/tf-operator/apis/common/v1/types.go
  pkg/operators/tf-operator/apis/common/v1beta2/types.go
  pkg/operators/tf-operator/client/clientset/versioned/fake/register.go
  pkg/operators/tf-operator/client/clientset/versioned/scheme/register.go
  pkg/operators/volcano-operator/client/clientset/versioned/scheme/register.go
  pkg/topnode/gpuexclusive.go
  pkg/topnode/gpushare.go
  pkg/topnode/gputopology.go
  pkg/training/trainer_spark.go
  pkg/training/trainer_tensorflow.go
  pkg/util/helm/helm.go
  pkg/util/helm/helm_advanced.go
  pkg/util/kubeclient/configmap.go
  pkg/util/kubectl/kubectl.go
  pkg/util/volume.go
  version.go
Labels: lgtm, approved, size/L

#1040 Add @gujingit as Arena approvers
  OWNERS
Labels: lgtm, approved, size/XS

#1042 Upgrade Kubernetes version 1.26.4 and go version 1.20.12
  Dockerfile.build
  Makefile
Labels: lgtm, approved, size/XS

#1043 Support for updating the nodeSelector and toleration in GO SDK.
  pkg/apis/serving/update_custom_builder.go
  pkg/apis/serving/update_kserve_builder.go
  samples/sdk/custom-serving/main.go
Labels: lgtm, approved, size/M
