Repository kubeflow/arena, pull requests merged in 2024-01, with the labels that each got.

#1020 [Discussion] Arena 2024 Roadmap.
  ROADMAP.md
Labels: lgtm, approved, size/M

#1022 Add @Syulin7 to Approvers.
  OWNERS
Labels: lgtm, approved, size/XS

#1025 Update Arena 2024 Roadmap.
  ROADMAP.md
Labels: approved, size/XS

#1024 Compatible with training-operator CRD.
  charts/pytorchjob/templates/pytorchjob.yaml
  charts/tfjob/templates/tfjob.yaml
  pkg/apis/types/submit_pytorchjob.go
  pkg/apis/types/submit_tfjob.go
  pkg/apis/utils/training.go
  pkg/apis/utils/utils.go
  pkg/training/const.go
  pkg/training/submit_pytorchjob.go
  pkg/training/submit_tfjob.go
  pkg/training/trainer.go
  pkg/training/trainer_pytorch.go
  pkg/training/trainer_tensorflow.go
Labels: lgtm, approved, size/L

#1026 Add xieydd as approver
  OWNERS
Labels: lgtm, approved, size/XS

#1027 chore: Update OWNERS
  OWNERS
Labels: lgtm, approved, size/XS

#1028 chore: go fmt
  Makefile
  cmd/arena/main.go
  pkg/apis/arenaclient/evaluate_client.go
  pkg/apis/evaluate/evaluatejob.go
  pkg/argsbuilder/cron_tfjob.go
  pkg/commands/evaluate/evaluate_model.go
  pkg/commands/evaluate/get.go
  pkg/commands/evaluate/list.go
  pkg/evaluate/delete.go
  pkg/evaluate/submit.go
  pkg/operators/et-operator/api/common/zz_generated.deepcopy.go
  pkg/operators/et-operator/api/v1alpha1/zz_generated.deepcopy.go
  pkg/operators/et-operator/client/clientset/versioned/typed/et/v1alpha1/generated_expansion.go
  pkg/operators/kubedl-operator/apis/apps/v1alpha1/zz_generated.deepcopy.go
  pkg/operators/kubedl-operator/apis/apps/v1alpha1/zz_generated.defaults.go
  pkg/operators/mpi-operator/apis/kubeflow/v1alpha1/zz_generated.deepcopy.go
  pkg/operators/pytorch-operator/apis/pytorch/v1/zz_generated.deepcopy.go
  pkg/operators/pytorch-operator/apis/pytorch/v1/zz_generated.defaults.go
  pkg/operators/spark-operator/apis/sparkoperator.k8s.io/v1beta1/zz_generated.deepcopy.go
  pkg/operators/spark-operator/apis/sparkoperator.k8s.io/v1beta2/zz_generated.deepcopy.go
  pkg/operators/tf-operator/apis/common/v1/zz_generated.deepcopy.go
  pkg/operators/tf-operator/apis/common/v1/zz_generated.defaults.go
  pkg/operators/tf-operator/apis/common/v1beta2/zz_generated.deepcopy.go
  pkg/operators/tf-operator/apis/common/v1beta2/zz_generated.defaults.go
  pkg/operators/tf-operator/apis/tensorflow/v1/zz_generated.deepcopy.go
  pkg/operators/tf-operator/apis/tensorflow/v1/zz_generated.defaults.go
  pkg/operators/tf-operator/apis/tensorflow/v1alpha1/zz_generated.deepcopy.go
  pkg/operators/tf-operator/apis/tensorflow/v1alpha1/zz_generated.defaults.go
  pkg/operators/tf-operator/apis/tensorflow/v1alpha2/zz_generated.deepcopy.go
  pkg/operators/tf-operator/apis/tensorflow/v1alpha2/zz_generated.defaults.go
  pkg/operators/tf-operator/apis/tensorflow/v1beta2/zz_generated.deepcopy.go
  pkg/operators/tf-operator/apis/tensorflow/v1beta2/zz_generated.defaults.go
  pkg/operators/volcano-operator/apis/batch/v1alpha1/zz_generated.deepcopy.go
  pkg/training/trainer.go
  pkg/training/trainer_pytorch.go
Labels: lgtm, approved, size/M

#1031 Add CI to run the tests for Go.
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/test-go.yaml
  go.mod
  license.txt
Labels: lgtm, approved, size/M
