Repository kubeflow/arena, pull requests merged in 2025-03, with the labels that each got.

#1276 Fix typos
  arena-artifacts/values.yaml
  jupyter/arena-jupyter.yaml
  pkg/apis/config/arenaconfig.go
  pkg/apis/types/submit.go
  pkg/apis/types/submit_tfjob.go
  pkg/apis/types/types.go
  pkg/apis/utils/utils.go
  pkg/argsbuilder/model.go
  pkg/argsbuilder/submit.go
  pkg/operators/et-operator/api/v1alpha1/trainingjob_types.go
  pkg/operators/et-operator/client/clientset/versioned/typed/et/v1alpha1/et_client.go
  pkg/operators/mpi-operator/client/clientset/versioned/scheme/register.go
  pkg/operators/pytorch-operator/client/clientset/versioned/typed/pytorch/v1/fake/fake_pytorchjob.go
  pkg/operators/pytorch-operator/client/clientset/versioned/typed/pytorch/v1/pytorch_client.go
  pkg/serving/delete.go
  pkg/serving/logs.go
  pkg/topnode/gputopology.go
  pkg/util/port_allocate.go
  pkg/util/validate.go
Labels: lgtm, approved, size/M

#1281 Update pytorch operator image
  arena-artifacts/values.yaml
Labels: lgtm, approved, size/XS

#1282 Release v0.14.2
  CHANGELOG.md
  VERSION
  arena-artifacts/Chart.yaml
Labels: lgtm, approved, size/S

#1289 fix: job status displays incorrectly
  pkg/operators/tf-operator/apis/common/v1/types.go
  pkg/training/trainer_pytorch.go
  pkg/training/trainer_tensorflow.go
  pkg/training/trainer_tensorflow_test.go
Labels: lgtm, approved, size/L

#1141 Add stale bot to mark stale issues and PRs
  .github/workflows/stale.yaml
Labels: lgtm, approved, size/M

#1207 refactor: use helm lib instead of helm binary
  go.mod
  pkg/commands/root.go
  pkg/training/delete.go
  pkg/util/helm/helm.go
  pkg/util/helm/helm_advanced.go
  pkg/util/helm/util.go
  pkg/workflow/workflow.go
Labels: lgtm, approved, size/L
