Repository kubeflow/arena, pull requests merged in 2025-06, with the labels that each got.

#1325 Make number of replicas of cron-operator deployment configurable
  arena-artifacts/charts/cron-operator/templates/operator-dp.yaml
  arena-artifacts/charts/cron-operator/values.yaml
  arena-artifacts/values.yaml
Labels: lgtm, approved, size/M

#1323 Make number of replicas of tf-operator deployment configurable
  arena-artifacts/charts/tf-operator/templates/operator-dp.yaml
  arena-artifacts/charts/tf-operator/values.yaml
  arena-artifacts/values.yaml
Labels: lgtm, approved, size/M

#1319 Feat: support affinity policy for kserve and tfjob
  charts/kserve/templates/_helpers.tpl
  charts/kserve/templates/inferenceservice.yaml
  charts/tfjob/templates/_helpers.tpl
  charts/tfjob/templates/tfjob.yaml
  pkg/apis/types/serving.go
  pkg/apis/types/submit_tfjob.go
  pkg/argsbuilder/serving_kserve.go
  pkg/argsbuilder/submit_tfjob.go
Labels: lgtm, approved, size/L

#1331 Feat: support separate affinity policy configuration for PS and worke…
  charts/tfjob/templates/_helpers.tpl
  pkg/apis/types/submit_tfjob.go
  pkg/argsbuilder/submit_tfjob.go
Labels: lgtm, approved, size/S

#1332 Release v0.15.0
  CHANGELOG.md
  VERSION
  arena-artifacts/Chart.yaml
Labels: lgtm, approved, size/M

#1340 [CI] Add CI workflow for releasing Arena images
  .github/workflows/release.yaml
  Dockerfile
Labels: lgtm, approved, size/L

#1337 Add support for configuring tolerations
  .github/workflows/integration.yaml
  Makefile
  arena-artifacts/.helmignore
  arena-artifacts/charts/cron-operator/templates/operator-dp.yaml
  arena-artifacts/charts/cron-operator/values.yaml
  arena-artifacts/charts/elastic-job-supervisor/templates/deployment.yaml
  arena-artifacts/charts/et-operator/templates/operator-dp.yaml
  arena-artifacts/charts/gpu-exporter/templates/gpu-exporter-dp.yaml
  arena-artifacts/charts/mpi-operator/templates/operator-dp.yaml
  arena-artifacts/charts/pytorch-operator/templates/operator-dp.yaml
  arena-artifacts/charts/tf-dashboard/templates/dashboard-dp.yaml
  arena-artifacts/charts/tf-operator/templates/operator-dp.yaml
  arena-artifacts/tests/cron-operator/deployment_test.yaml
  arena-artifacts/tests/elastic-job-supervisor/deployment_test.yaml
  arena-artifacts/tests/et-operator/deployment_test.yaml
  arena-artifacts/tests/gpu-exporter/deployment_test.yaml
  arena-artifacts/tests/mpi-operator/deployment_test.yaml
  arena-artifacts/tests/pytorch-operator/deployment_test.yaml
  arena-artifacts/tests/tf-dashboard/deployment_test.yaml
  arena-artifacts/tests/tf-operator/deployment_test.yaml
  arena-artifacts/values.yaml
Labels: lgtm, approved, size/XL

#1345 Bump golang version from 1.22.7 to 1.23.10
  Dockerfile
  Dockerfile.notebook.cpu
  Dockerfile.notebook.kubeflow
  go.mod
Labels: lgtm, approved, size/XS

#1344 Release v0.15.1
  CHANGELOG.md
  VERSION
  arena-artifacts/Chart.yaml
Labels: lgtm, approved, size/S
