Repository kubeflow/arena, pull requests merged in 2025-02, with the labels that each got.

#1262 rename parameter
  charts/distributed-serving/templates/distributed.yaml
  charts/distributed-serving/templates/service.yaml
  pkg/argsbuilder/serving_distributed.go
  pkg/argsbuilder/update_serving_distributed.go
Labels: lgtm, approved, size/M

#1248 Add changelog for v0.13.1
  CHANGELOG.md
Labels: lgtm, approved, size/S

#1264 Release v0.14.0
  CHANGELOG.md
  VERSION
  arena-artifacts/Chart.yaml
Labels: lgtm, approved, size/S

#1257 docs: fixed typo
  docs/installation/index.md
Labels: lgtm, approved, size/XS

#1267 fix: device value does not support k8s resource quantity
  pkg/util/validate.go
Labels: lgtm, approved, size/M

#1265 fix: format of tensorflow standalone training docs is messed up
  docs/training/tfjob/standalone.md
Labels: lgtm, approved, size/M

#1272 fix: pytorchjob does not support backoff limit
  charts/pytorchjob/templates/pytorchjob.yaml
Labels: lgtm, approved, size/XS

#1273 unset env NVIDIA_VISIBLE_DEVICES when gpushare is enabled
  pkg/argsbuilder/serving.go
  pkg/argsbuilder/serving_distributed.go
  pkg/argsbuilder/submit.go
  pkg/common/constants.go
Labels: lgtm, approved, size/M

#1275 Release v0.14.1
  CHANGELOG.md
  VERSION
  arena-artifacts/Chart.yaml
  docs/release.md
Labels: lgtm, approved, size/S
