Repository kubeflow/arena, pull requests merged in 2025-01, with the labels that each got.

#1238 feat: add linux/arm64 support for tf-operator image
  arena-artifacts/values.yaml
Labels: lgtm, approved, size/XS

#1239 feat: add linux/arm64 support for mpi-operator image
  arena-artifacts/values.yaml
Labels: lgtm, approved, size/XS

#1240 feat: add linux/arm64 support for cron-operator image
  arena-artifacts/values.yaml
Labels: lgtm, approved, size/XS

#1241 feat: add linux/arm64 support for et-operator image
  arena-artifacts/values.yaml
Labels: lgtm, approved, size/XS

#1237 Add PyTorch mnist example
  examples/pytorch/mnist/Dockerfile
  examples/pytorch/mnist/main.py
  examples/pytorch/mnist/requirements.txt
Labels: lgtm, approved, size/L

#1247 Update the version of elastic-job-supervisor in arena-artifacts
  VERSION
  arena-artifacts/Chart.yaml
  arena-artifacts/charts/elastic-job-supervisor/Chart.yaml
  arena-artifacts/charts/elastic-job-supervisor/templates/rbac.yaml
  arena-artifacts/values.yaml
Labels: lgtm, approved, size/S
